@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

/* 
основний колір тексту
колір тексту параграфів
колір наведення-акценту
білий #FFFFFF
колір заливки подложки на головній сторінці - rgb(202,154,155)
шрифт на HEADER
*/
:root {
  --text-color-primary: rgb(84, 77, 77);
  --text-color-accent: rgb(225, 113, 39);
  --background-color: rgb(255, 255, 255);
  --header-background-color: rgb(238, 224, 206);
  --header-nav-color: rgb(87, 80, 223);
  --header-nav-color-accent: rgb(225, 113, 39);
  --footer-border-vertic: 4px solid rgb(82, 87, 238);
  --footer-border-goriz: 1px solid rgb(146, 132, 132);
  --footer-socials-icon-fill: rgb(0, 0, 255);
  --footer-socials-icon-fill-accent: rgb(128, 101, 51);
  --footer-copyright-text-color: rgb(146, 132, 132);
  --animation-base: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  height: 100%;
  color: var(--text-color-primary);
  background-color: var(--background-color);
  /* приховати тільки горизонтальну смугу прокручування */
  overflow-x: hidden;
}

/* глобальне скидання стилів */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Елементи-посилання "а" скидуємо до дефолтних стилів */
a,
a:focus,
a:hover,
a:active,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* прибираємо підкреслення посилання */
.link {
  text-decoration: none;
}

/* прибираємо маркери списку */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Робота з картинками */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
  outline-offset: -2px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1200px;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--header-background-color);
}

.header__container {
  outline: 2px solid rgb(80, 206, 66);
  outline-offset: -2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.header__nav {
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
}

.header__nav-list {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.header__nav-item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  border: 0;
  color: var(--header-nav-color);
}
.header__nav-item:hover, .header__nav-item:focus {
  color: var(--header-nav-color-accent);
  transition: color 250ms;
}

.header__nav-link {
  position: relative;
}

.header__nav-link:hover:before {
  transform: scaleX(1);
  transition: transform 250ms;
}

.header__nav-link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--header-nav-color-accent);
  position: absolute;
  left: 0;
  bottom: -5px;
  transform: scaleX(0);
}

.swiper {
  width: 70%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.icons__main-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 15px;
}

.icons__main-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 110px;
}
.icons__main-link:hover .icons__main-title, .icons__main-link:focus .icons__main-title {
  color: var(--text-color-accent);
}

.icons__main-title {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4444444444;
  text-align: center;
  margin-bottom: 8px;
  width: 100%;
  color: var(--text-color-primary);
  transition: var(--animation-base);
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 40px;
  }
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  align-items: flex-start;
  margin-bottom: 10px;
}

.footer__qr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.footer__qr-title {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4444444444;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color-primary);
}

.footer__qr-link:hover .footer__qr-img, .footer__qr-link:focus .footer__qr-img {
  transform: scale(1.05);
}

.footer__qr-img {
  transition: var(--animation-base);
}

.footer__socials {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__socials-title {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.4444444444;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color-primary);
}

.footer__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(240, 240, 191);
  transition: var(--animation-base);
}
.footer__socials-link:hover .footer__socials-icon, .footer__socials-link:focus .footer__socials-icon {
  fill: var(--footer-socials-icon-fill-accent);
}

.footer__socials-icon {
  width: 40px;
  height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: var(--footer-socials-icon-fill);
}

.footer__copyright {
  padding: 20px 20px 10px 20px;
  border-top: var(--footer-border-goriz);
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding: 12px 12px;
  }
}

.footer__copyright-text {
  display: block;
  font-family: "Roboto", Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--footer-copyright-text-color);
}
@media screen and (min-width: 768px) {
  .footer__copyright-text {
    font-size: 18px;
    line-height: 1.8571428571;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright-text {
    font-size: 20px;
    line-height: 1.8333333333;
  }
}

@media (min-width: 768px) {
  .footer__br {
    display: none;
  }
}

.about__title {
  font-family: "Montserrat", "Roboto", Verdana, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--text-color-primary);
  margin-bottom: 10px;
}

.about__text {
  font-family: "Montserrat", "Roboto", Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: justify;
  color: var(--text-color-primary);
  text-indent: 5%;
  margin-bottom: 10px;
}

.about__text-accent {
  font-weight: 600;
}

.about__img-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.about__img-big,
.about__img-gorizont,
.about__img-vertic {
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}/*# sourceMappingURL=index.css.map */