:root {
  --text-color-primary: rgb(239, 229, 229);
  --text-color-accent: rgb(255, 230, 0);
  --text-color-dark: rgb(67, 53, 53);
  --background-color: rgb(0, 30, 90);
  --background-color-accent: rgb(0, 26, 78);

  // HEADER
  --header-background-color: rgb(0, 30, 90);
  --header-background-color-accent: rgb(0, 26, 78);
  --header-color-primary: rgb(239, 229, 229);
  --header-nav-color-accent: rgb(255, 230, 0);
  // --header-sub-menu-bcg-color: rgba(16, 52, 126, 0.793);
  

  // FOOTER
  --footer-background-color: rgb(0, 30, 90);
  --footer-color-accent: rgb(255, 230, 0);
  // --footer-border-vertic: 4px solid rgb(82, 87, 238);
  // --footer-border-goriz: 1px solid rgb(146, 132, 132);
  --footer-socials-icon-fill: rgba(0, 30, 90, 0.959);
  --footer-socials-icon-bcg-color: rgb(255, 255, 255);
  --footer-socials-icon-fill-accent: rgb(255, 230, 0);
  --footer-copyright-text-color: rgb(146, 132, 132);
  --footer-border-goriz-color: rgb(146, 132, 132);

  // PAGE -->> "_____"

  // ANIMATION
  --animation-base: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // --animation-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // --animation-bcg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
