<section class="section">
  <div class="container">
    <h2 class="about__title"
    data-lang="lang__about-us-title"></h2>
  </div>
</section>

<section class="section section-gorizont-line">
  <div class="container">

    <p class="about__text text-bold"
    data-lang="lang__about-us-text-1">
    </p>
    <p class="about__text"
    data-lang="lang__about-us-text-2">
    </p>

    <div class="about__img-wrapper">
      <img class="about__img-big animation__img"
        srcset="./images/about-us/img-about-001@1x.webp 1x, ./images/about-us/img-about-001@2x.webp 2x"
        src="./images/about-us/img-about-001@1x.webp" alt="image" width="1160" height="580" loading="lazy">
    </div>

    <p class="about__text"
    data-lang="lang__about-us-text-3">
    </p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-005@1x.webp 1x, ./images/about-us/img-about-005@2x.webp 2x"
        src="./images/about-us/img-about-005@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-002@1x.webp 1x, ./images/about-us/img-about-002@2x.webp 2x"
        src="./images/about-us/img-about-002@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text"
    data-lang="lang__about-us-text-4">
    </p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-006@1x.webp 1x, ./images/about-us/img-about-006@2x.webp 2x"
        src="./images/about-us/img-about-006@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-007@1x.webp 1x, ./images/about-us/img-about-007@2x.webp 2x"
        src="./images/about-us/img-about-007@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-008@1x.webp 1x, ./images/about-us/img-about-008@2x.webp 2x"
        src="./images/about-us/img-about-008@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-009@1x.webp 1x, ./images/about-us/img-about-009@2x.webp 2x"
        src="./images/about-us/img-about-009@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-010@1x.webp 1x, ./images/about-us/img-about-010@2x.webp 2x"
        src="./images/about-us/img-about-010@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-011@1x.webp 1x, ./images/about-us/img-about-011@2x.webp 2x"
        src="./images/about-us/img-about-011@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-012@1x.webp 1x, ./images/about-us/img-about-012@2x.webp 2x"
        src="./images/about-us/img-about-012@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-013@1x.webp 1x, ./images/about-us/img-about-013@2x.webp 2x"
        src="./images/about-us/img-about-013@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-014@1x.webp 1x, ./images/about-us/img-about-014@2x.webp 2x"
        src="./images/about-us/img-about-014@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-015@1x.webp 1x, ./images/about-us/img-about-015@2x.webp 2x"
        src="./images/about-us/img-about-015@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text"
    data-lang="lang__about-us-text-5">
    </p>

    <div class="about__img-wrapper">
      <img class="about__img-vertic animation__img"
        srcset="./images/about-us/img-about-016@1x.webp 1x, ./images/about-us/img-about-016@2x.webp 2x"
        src="./images/about-us/img-about-016@1x.webp" alt="image" width="440" height="590" loading="lazy">
      <img class="about__img-vertic animation__img"
        srcset="./images/about-us/img-about-017@1x.webp 1x, ./images/about-us/img-about-017@2x.webp 2x"
        src="./images/about-us/img-about-017@1x.webp" alt="image" width="440" height="590" loading="lazy">
      <img class="about__img-vertic animation__img"
        srcset="./images/about-us/img-about-018@1x.webp 1x, ./images/about-us/img-about-018@2x.webp 2x"
        src="./images/about-us/img-about-018@1x.webp" alt="image" width="440" height="590" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-019@1x.webp 1x, ./images/about-us/img-about-019@2x.webp 2x"
        src="./images/about-us/img-about-019@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-020@1x.webp 1x, ./images/about-us/img-about-020@2x.webp 2x"
        src="./images/about-us/img-about-020@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text"
    data-lang="lang__about-us-text-6">
    </p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-021@1x.webp 1x, ./images/about-us/img-about-021@2x.webp 2x"
        src="./images/about-us/img-about-021@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-022@1x.webp 1x, ./images/about-us/img-about-022@2x.webp 2x"
        src="./images/about-us/img-about-022@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text"
    data-lang="lang__about-us-text-7">
    </p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-023@1x.webp 1x, ./images/about-us/img-about-023@2x.webp 2x"
        src="./images/about-us/img-about-023@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-024@1x.webp 1x, ./images/about-us/img-about-024@2x.webp 2x"
        src="./images/about-us/img-about-024@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-025@1x.webp 1x, ./images/about-us/img-about-025@2x.webp 2x"
        src="./images/about-us/img-about-025@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-026@1x.webp 1x, ./images/about-us/img-about-026@2x.webp 2x"
        src="./images/about-us/img-about-026@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text"
    data-lang="lang__about-us-text-8">
    </p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-027@1x.webp 1x, ./images/about-us/img-about-027@2x.webp 2x"
        src="./images/about-us/img-about-027@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont animation__img"
        srcset="./images/about-us/img-about-028@1x.webp 1x, ./images/about-us/img-about-028@2x.webp 2x"
        src="./images/about-us/img-about-028@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-vertic animation__img"
        srcset="./images/about-us/img-about-029@1x.webp 1x, ./images/about-us/img-about-029@2x.webp 2x"
        src="./images/about-us/img-about-029@1x.webp" alt="image" width="440" height="590" loading="lazy">
      <img class="about__img-vertic animation__img"
        srcset="./images/about-us/img-about-030@1x.webp 1x, ./images/about-us/img-about-030@2x.webp 2x"
        src="./images/about-us/img-about-030@1x.webp" alt="image" width="440" height="590" loading="lazy">
      <img class="about__img-vertic animation__img"
        srcset="./images/about-us/img-about-031@1x.webp 1x, ./images/about-us/img-about-031@2x.webp 2x"
        src="./images/about-us/img-about-031@1x.webp" alt="image" width="440" height="590" loading="lazy">
    </div>

    <p class="about__text"
    data-lang="lang__about-us-text-9">
    </p>

  </div>
</section>