<section class="section section-gorizont-line">
  <div class="container">

    <h2 class="about__title">Трохи про те, хто ми такі:</h2>
    <p class="about__text about__text-accent">З чого ми починали (і чим продовжуємо займатися зараз)</p>
    <p class="about__text">З 28 лютого ми почали займатися волонтерством на Київському з-д вокзалі.</p>

    <div class="about__img-wrapper">
      <img class="about__img-big"
        srcset="./images/about-us/img-about-001@1x.webp 1x, ./images/about-us/img-about-001@2x.webp 2x"
        src="./images/about-us/img-about-001@1x.webp" alt="image" width="1160" height="580" loading="lazy">
    </div>

    <p class="about__text">З чисельністю більше 100 осіб, «Волонтерський Центр» надавав допомогу підрозділам і
      військовим частинам, іншим
      волонтерським організаціям, а також біженцям, соціальним центрам, будинкам догляду за літніми людьми, шпиталям і
      лікарням, бомбосховищам та місцевому населенню.</p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-002@1x.webp 1x, ./images/about-us/img-about-002@2x.webp 2x"
        src="./images/about-us/img-about-002@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-003@1x.webp 1x, ./images/about-us/img-about-003@2x.webp 2x"
        src="./images/about-us/img-about-003@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-004@1x.webp 1x, ./images/about-us/img-about-004@2x.webp 2x"
        src="./images/about-us/img-about-004@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-005@1x.webp 1x, ./images/about-us/img-about-005@2x.webp 2x"
        src="./images/about-us/img-about-005@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text">Наші волонтери сприяли у забезпеченні гуманітарними вантажами для мешканців Київського,
      Чернігівського, Сумського,
      Харківського, Полтавського, Донецького, Херсонського та Миколаївського регіонів. Кожним координатором і
      волонтером
      пророблена гігантська робота. Ми приймали, складували і спрямовували великі вантажі з потягів або, навпаки,
      завантажували гуманітарну допомогу до потягів різних напрямків.</p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-006@1x.webp 1x, ./images/about-us/img-about-006@2x.webp 2x"
        src="./images/about-us/img-about-006@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-007@1x.webp 1x, ./images/about-us/img-about-007@2x.webp 2x"
        src="./images/about-us/img-about-007@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-008@1x.webp 1x, ./images/about-us/img-about-008@2x.webp 2x"
        src="./images/about-us/img-about-008@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-009@1x.webp 1x, ./images/about-us/img-about-009@2x.webp 2x"
        src="./images/about-us/img-about-009@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-010@1x.webp 1x, ./images/about-us/img-about-010@2x.webp 2x"
        src="./images/about-us/img-about-010@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-011@1x.webp 1x, ./images/about-us/img-about-011@2x.webp 2x"
        src="./images/about-us/img-about-011@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-012@1x.webp 1x, ./images/about-us/img-about-012@2x.webp 2x"
        src="./images/about-us/img-about-012@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-013@1x.webp 1x, ./images/about-us/img-about-013@2x.webp 2x"
        src="./images/about-us/img-about-013@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-014@1x.webp 1x, ./images/about-us/img-about-014@2x.webp 2x"
        src="./images/about-us/img-about-014@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-015@1x.webp 1x, ./images/about-us/img-about-015@2x.webp 2x"
        src="./images/about-us/img-about-015@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text">А ще майже щодня отримували та розподіляли до 400 відер вареників та всіляких смаколиків із
      західних областей України.
      Тож біженці, військові та бійці ТрО Києва та його околиць ніколи не залишались голодними. А ще приймали
      евакуаційні
      потяги, автобуси та машини, що вивозили людей з окупованих міст та гарячих точок. Всі справи кінця лютого –
      початку
      квітня 2022 й не перелічити...</p>

    <div class="about__img-wrapper">
      <img class="about__img-vertic"
        srcset="./images/about-us/img-about-016@1x.webp 1x, ./images/about-us/img-about-016@2x.webp 2x"
        src="./images/about-us/img-about-016@1x.webp" alt="image" width="440" height="590" loading="lazy">
      <img class="about__img-vertic"
        srcset="./images/about-us/img-about-017@1x.webp 1x, ./images/about-us/img-about-017@2x.webp 2x"
        src="./images/about-us/img-about-017@1x.webp" alt="image" width="440" height="590" loading="lazy">
      <img class="about__img-vertic"
        srcset="./images/about-us/img-about-018@1x.webp 1x, ./images/about-us/img-about-018@2x.webp 2x"
        src="./images/about-us/img-about-018@1x.webp" alt="image" width="440" height="590" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-019@1x.webp 1x, ./images/about-us/img-about-019@2x.webp 2x"
        src="./images/about-us/img-about-019@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-020@1x.webp 1x, ./images/about-us/img-about-020@2x.webp 2x"
        src="./images/about-us/img-about-020@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text">То були важкі часи цілодобової безоглядної праці, але ми всі згуртувались коло однієї мети –
      допомогти захищати нашу
      Землю, вистояти та перемогти!</p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-021@1x.webp 1x, ./images/about-us/img-about-021@2x.webp 2x"
        src="./images/about-us/img-about-021@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-022@1x.webp 1x, ./images/about-us/img-about-022@2x.webp 2x"
        src="./images/about-us/img-about-022@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text">Весь час ми хотіли робити все більше і більше задля допомоги й тим, хто нас захищає в ці
      страшні часи, й тим, хто
      постраждав в результаті агресії та потребує підтримки – так, координатори Волонтерів Київського Вокзалу стали
      засновниками благодійного фонду «Заново».</p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-023@1x.webp 1x, ./images/about-us/img-about-023@2x.webp 2x"
        src="./images/about-us/img-about-023@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-024@1x.webp 1x, ./images/about-us/img-about-024@2x.webp 2x"
        src="./images/about-us/img-about-024@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-025@1x.webp 1x, ./images/about-us/img-about-025@2x.webp 2x"
        src="./images/about-us/img-about-025@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-026@1x.webp 1x, ./images/about-us/img-about-026@2x.webp 2x"
        src="./images/about-us/img-about-026@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>

    <p class="about__text"><span class="about__text-accent">«Заново» — це про Відновлення.</span> Це місце в якому
      одночасно зібралися люди різних професій: інженер-архітектор, дизайнер,
      режисер, фармацевт, лікар, палеонтолог, кухар, електрик, вантажник, менеджер, юрист, тощо. Всіх нас, таких різних,
      об’єднує величезне бажання наблизити нашу перемогу та допомогти нашій країні відновлюватись! Кожного дня ми
      продовжуємо
      йти за покликом душі з однією лиш метою – допомогти країні вистояти.</p>

    <div class="about__img-wrapper">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-027@1x.webp 1x, ./images/about-us/img-about-027@2x.webp 2x"
        src="./images/about-us/img-about-027@1x.webp" alt="image" width="560" height="415" loading="lazy">
      <img class="about__img-gorizont"
        srcset="./images/about-us/img-about-028@1x.webp 1x, ./images/about-us/img-about-028@2x.webp 2x"
        src="./images/about-us/img-about-028@1x.webp" alt="image" width="560" height="415" loading="lazy">
    </div>
    <div class="about__img-wrapper">
      <img class="about__img-vertic"
        srcset="./images/about-us/img-about-029@1x.webp 1x, ./images/about-us/img-about-029@2x.webp 2x"
        src="./images/about-us/img-about-029@1x.webp" alt="image" width="440" height="590" loading="lazy">
      <img class="about__img-vertic"
        srcset="./images/about-us/img-about-030@1x.webp 1x, ./images/about-us/img-about-030@2x.webp 2x"
        src="./images/about-us/img-about-030@1x.webp" alt="image" width="440" height="590" loading="lazy">
      <img class="about__img-vertic"
        srcset="./images/about-us/img-about-031@1x.webp 1x, ./images/about-us/img-about-031@2x.webp 2x"
        src="./images/about-us/img-about-031@1x.webp" alt="image" width="440" height="590" loading="lazy">
    </div>

    <p class="about__text">На сьогодні наш фонд працює за такими напрямками (гіперпосилання): відбудова країни,
      гуманітарна допомога, допомога ЗСУ,
      плетіння сіток, виготовлення окопних свічок та творчі благодійні заходи. Кожен з цих напрямків об’єднує прекрасних
      людей, які безупинно працюють й вирішують неможливі задачі з пошуку необхідного для досягнення наших цілей. Всі ми
      віримо <span class="about__text-appercase">в нашу перемогу, в країну</span>, в якій живемо! Віримо в те, що <span
        class="about__text-appercase">квітуче майбутнє україни – це реальність</span>, адже стільки
      людей об’єднані цією єдиною метою, а тому <span class="about__text-appercase">разом ми переможемо</span>!</p>

  </div>
</section>