<section class="section">
  <div class="donate__container container">
    <h2 class="donate__title">
      Допомогти
    </h2>
  </div>

  <!-- <span class="donate__line-gorizont"></span> -->
</section>

<section class="section">
  <div class="donate__container container">

    <div class="donate-nets__wrapper">
      <h3 class="donate-nets__title">
        Підтримати постійний збір на маскувальні сітки
      </h3>
  
      <div class="donate-nets__sub-wrapper">
        <div class="donate-nets__qr-wrapper">
          <img class="donate-nets__qr-img" srcset="./images/footer/qr-nets@1x.webp 1x, ./images/footer/qr-nets@2x.webp 2x" src="./images/footer/qr-nets@1x.webp" alt="QR code" width="200" height="200" loading="lazy">
        </div>
        <div class="donate-nets__link-wrapper">
          <div class="donate-nets__link-block">
            <h4 class="donate-nets__link-title">
              &#128279; Посилання на банку
            </h4>
            <a class="donate-nets__link link" href="https://send.monobank.ua/jar/3MGjwwxo1B" target="_blank" rel="noreferrer noopener" aria-label="link for donate">
              https://send.monobank.ua/jar/3MGjwwxo1B
            </a>
          </div>
          <div class="donate-nets__link-block">
            <h4 class="donate-nets__link-title">
              &#128179; Номер картки банки
            </h4>
            <p class="donate-nets__link-description">
              5375 4112 0152 7186
            </p>
          </div>
  
        </div>
      </div>

    </div>
  </div>

  <!-- <span class="donate__line-gorizont"></span> -->
</section>

<section class="section section-gorizont-line">
  <div class="donate__container container">
    <h3 class="donate-bank__title">
      Для банківського переказу:
    </h3>
    <div class="donate-bank__wrapper">

      <div class="donate-bank__details-wrapper">
        <h4 class="donate-bank__details-title">
          (UAH) Українська гривня
        </h4>
        <p class="donate-bank__details-description">
          Благодійна організація "Благодійний фонд "Заново"
        </p>
        <p class="donate-bank__details-description">
          ЄДРПОУ: 44659830
        </p>
        <p class="donate-bank__details-description">
          IBAN: UA933052990000026007035021209
        </p>
        <p class="donate-bank__details-description">
          КБ «ПриватБанк», МФО 305299
        </p>
        <p class="donate-bank__details-description">
          SWIFT Code PBANUA2X
        </p>
      </div>

      <div class="donate-bank__details-wrapper">
        <h4 class="donate-bank__details-title">
          (USD) Dollar USA
        </h4>
        <p class="donate-bank__details-description">
          Charitable organisation "Charitable fund "Renovate"
        </p>
        <p class="donate-bank__details-description">
          ЄДРПОУ: 44659830
        </p>
        <p class="donate-bank__details-description">
          IBAN: UA933052990000026007035021209
        </p>
        <p class="donate-bank__details-description">
          КБ «ПриватБанк», МФО 305299
        </p>
        <p class="donate-bank__details-description">
          SWIFT Code PBANUA2X
        </p>
      </div>

      <div class="donate-bank__details-wrapper">
        <h4 class="donate-bank__details-title">
          (EUR) Euro
        </h4>
        <p class="donate-bank__details-description">
          Charitable organisation "Charitable fund "Renovate"
        </p>
        <p class="donate-bank__details-description">
          ЄДРПОУ: 44659830
        </p>
        <p class="donate-bank__details-description">
          IBAN: UA933052990000026007035021209
        </p>
        <p class="donate-bank__details-description">
          КБ «ПриватБанк», МФО 305299
        </p>
        <p class="donate-bank__details-description">
          SWIFT Code PBANUA2X
        </p>
      </div>

    </div>
  </div>

  <!-- <span class="donate__line-gorizont"></span> -->
</section>