<div class="donate__section section">
  <div class="donate__container container">

    <h2 class="donate__title">
      Допомогти
    </h2>

    <div class="donate-nets__wrapper">
      <h3 class="donate-nets__title">
        Підтримати постійний збір на маскувальні сітки
      </h3>
  
      <div class="donate-nets__sub-wrapper">
        <div class="donate-nets__qr-wrapper">
          <img class="donate-nets__qr-img" src="#" alt="">
        </div>
        <div class="donate-nets__link-wrapper">
          <div class="donate-nets__link-block">
            <h4 class="donate-nets__link-title">
              Посилання на банку
            </h4>
            <a class="donate-nets__link link" href="#"></a>
          </div>
          <div>
            <h4 class="donate-nets__link-title">
              Номер картки банки
            </h4>
            <p class="donate-nets__link-description">
              1111 2222 3333 4444
            </p>
          </div>
  
        </div>
      </div>

    </div>

    <div>
      <h3 class="donate-bank__title">
        Для банківського переказу:
      </h3>
      <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab doloribus doloremque molestiae possimus impedit dolor enim similique placeat atque illo! Corporis accusantium delectus libero a natus accusamus voluptatem iste minima?
      </div>
    </div>

  </div>
</div>