<div class="section">
  <div class="container">

    <h2>
      Допомогти
    </h2>

    <div>
      <p>
        Підтримати постійний збір на маскувальні сітки
      </p>
  
      <div>
        <div>
          <img src="#" alt="">
        </div>
        <div>
          <div>
            <h3>
              Посилання на банку
            </h3>
            <a href="#"></a>
          </div>
          <div>
            <h3>
              Номер картки банки
            </h3>
            <p>
              1111 2222 3333 4444
            </p>
          </div>
  
        </div>
      </div>

    </div>

    <div>
      <h3>
        Для банківського переказу:
      </h3>
      <div>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab doloribus doloremque molestiae possimus impedit dolor enim similique placeat atque illo! Corporis accusantium delectus libero a natus accusamus voluptatem iste minima?
      </div>
    </div>

  </div>
</div>