<!--- FOOTER documents --->

<div class="footer__docs">
  <a class="footer__docs-link footer__docs-link-statute link"
    href="https://drive.google.com/file/d/10mvk-RHR1CraLX-NFTTlfLecazrIUdao/view?usp=sharing" target="_blank"
    rel="noreferrer noopener" aria-label="statut">
    Статут
  </a>
  <a class="footer__docs-link footer__docs-link-extract link"
    href="https://drive.google.com/file/d/1EhpNs2qH9ikqS3gt01l8BGSKHCL6OuFz/view?usp=drivesdk" target="_blank"
    rel="noreferrer noopener" aria-label="extract">
    Витяг з реєстру
  </a>
  <a class="footer__docs-link footer__docs-link-certificate link"
    href="https://drive.google.com/file/d/1EiLGbsQy4s_bdPuQ3vOkevj8SnKt1oMQ/view?usp=drivesdk" target="_blank"
    rel="noreferrer noopener" aria-label="certificate">
    Довідка про неприбутковість
  </a>
</div>