<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">


      <!--- FOOTER QR-code --->
      <div class="footer__qr">
        <h3 class="footer__qr-title">Наш постійний збір на виготовлення маскувальних сіток для ЗСУ</h3>
        <a class="footer__qr-link link" href="https://send.monobank.ua/jar/3MGjwwxo1B" target="_blank"
          rel="noreferrer noopener" aria-label="QR nets">
          <!-- <svg class="footer__qr-icon" width="150" height="150">
                    <use href="./images/footer/qr-nets.svg"></use>
                  </svg> -->
          <img class="footer__qr-img" src="./images/footer/qr-nets.webp" alt="image" width="350" height="350"
            loading="lazy">
        </a>
      </div>


      <!--- FOOTER Socials --->
      <div class="footer__socials">
        <h3 class="footer__socials-title">Ми у соціальних мережах та месенджері</h3>
        <ul class="footer__socials-list list">
          <li>
            <a class="footer__socials-link link" href="https://www.facebook.com/renovate.charity" target="_blank"
              rel="noreferrer noopener" aria-label="Facebook icon">
              <svg class="footer__socials-icon" width="40" height="40">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer__socials-link link" href="https://www.instagram.com/renovate_charity" target="_blank"
              rel="noreferrer noopener" aria-label="Instagram icon">
              <svg class="footer__socials-icon" width="60" height="60">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer__socials-link link" href="https://t.me/renovate_charity" target="_blank"
              rel="noreferrer noopener" aria-label="Telegram icon">
              <svg class="footer__socials-icon" width="60" height="60">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>


    </div>


    <!--- Copyright --->
    <div class="footer__copyright">
      <p class="footer__copyright-text">&#169; 2024 - Renovate Charity Foundation. <br class="footer__br">
        All Rights Reserved.
      </p>
    </div>


  </div>
</footer>