<!--- FOOTER address --->

<address class="footer__address">
  <h2 class="footer__address-title"
  data-lang="lang__footer-address-title">
  Благодійний фонд "ЗАНОВО"
</h2>
  <p class="footer__address-recvizit text-uppercase"
  data-lang="lang__footer-address-recvizit">
  ЄДРПОУ: 44659830
</p>
  <p class="footer__address-location"
  data-lang="lang__footer-address-location">
    м. Київ, вул. Дегтярівська 5
  </p>
  <ul class="footer__address-list list">
    <li>
      <a class="link footer__address-mail"
      href="mailto:renovate.charitable@gmail.com">
        renovate.charitable@gmail.com
      </a>
    </li>
    <li>
      <a class="link footer__address-tel"
      href="tel:+380673034559">
        +380 67 303 45 59
      </a>
    </li>
  </ul>
</address>