<footer class="footer" id="contacts">
  <div class="footer__container container">
    <div class="footer__wrapper">

        <!--- FOOTER address --->
        <address class="footer__address">
          <h2 class="footer__address-title">Благодійний фонд "ЗАНОВО"</h2>
          <p class="footer__address-recvizit">ЄДРПОУ: 44659830</p>
          <ul class="footer__address-list list">
            <li>
              <a class="link footer__address-mail" href="mailto:renovate.charitable@gmail.com">
                renovate.charitable@gmail.com
              </a>
            </li>
            <li>
              <a class="link footer__address-tel" href="tel:+380673034559">
                +380 67 303 45 59
              </a>
            </li>
          </ul>
        </address>

        <!--- FOOTER QR-code --->
        <div class="footer__qr">
          <h3 class="footer__qr-title">Постійний збір</h3>
          <a class="footer__qr-link link" href="https://send.monobank.ua/jar/3MGjwwxo1B" target="_blank"
            rel="noreferrer noopener" aria-label="QR nets">
            <img class="footer__qr-img"
              srcset="./images/footer/qr-nets@1x.webp 1x, ./images/footer/qr-nets@2x.webp 2x"
              src="./images/footer/qr-nets@1x.webp" alt="QR code" width="200" height="200" loading="lazy">
          </a>
        </div>

        <!--- FOOTER Socials --->
        <ul class="footer__socials-list list">
            <li>
              <a class="footer__socials-link link" href="https://www.facebook.com/renovate.charity" target="_blank"
                rel="noreferrer noopener" aria-label="Facebook icon">
                <svg class="footer__socials-icon" width="40" height="40">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="footer__socials-link link" href="https://www.instagram.com/renovate_charity" target="_blank"
                rel="noreferrer noopener" aria-label="Instagram icon">
                <svg class="footer__socials-icon" width="60" height="60">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="footer__socials-link link" href="https://t.me/renovate_charity" target="_blank"
                rel="noreferrer noopener" aria-label="Telegram icon">
                <svg class="footer__socials-icon" width="60" height="60">
                  <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
        </ul>
      
    </div>
    
    <!--- FOOTER documents --->
    <div class="footer__docs">
      <a class="footer__docs-link link" href="https://drive.google.com/file/d/1Egx-tCboT5LbcRSQ7BXH2ICWn9Kq_pwB/view?usp=drivesdk" target="_blank" rel="noreferrer noopener" aria-label="statut">
        Статут
      </a>
      <a class="footer__docs-link link"
        href="https://drive.google.com/file/d/1EhpNs2qH9ikqS3gt01l8BGSKHCL6OuFz/view?usp=drivesdk" target="_blank"
        rel="noreferrer noopener" aria-label="statut">
        Витяг з реєстру
      </a>
      <a class="footer__docs-link link"
        href="https://drive.google.com/file/d/1EiLGbsQy4s_bdPuQ3vOkevj8SnKt1oMQ/view?usp=drivesdk" target="_blank"
        rel="noreferrer noopener" aria-label="statut">
        Довідка про неприбутковість
      </a>
    </div>

    <!--- Copyright --->
    <div class="footer__copyright">
      <p class="footer__copyright-text">&#169; 2024 - Renovate Charity Foundation. <br class="footer__br">
        All Rights Reserved.
      </p>
    </div>


  </div>
</footer>