<!--- FOOTER QR-code --->

<div class="footer__qr">
  <h3 class="footer__qr-title"
  data-lang="lang__footer-qr-title">
  Постійний збір
</h3>
  <a class="footer__qr-link link" href="https://send.monobank.ua/jar/3MGjwwxo1B" target="_blank"
    rel="noreferrer noopener" aria-label="QR nets">
    <img class="footer__qr-img" srcset="./images/footer/qr-nets@1x.webp 1x, ./images/footer/qr-nets@2x.webp 2x"
      src="./images/footer/qr-nets@1x.webp" alt="QR code" width="200" height="200" loading="lazy">
  </a>
</div>