<footer class="footer scroll__data-1">
  <div class="footer__container container">
    
    <div class="footer__wrapper">
        <!--- FOOTER address --->
        <include src="./partials/_footer-address.html"></include>

        <!--- FOOTER QR-code --->
        <include src="./partials/_footer-qr.html"></include>

        <!--- FOOTER Socials --->
        <include src="./partials/_footer-socials.html"></include>
    </div>
    
    <!--- FOOTER documents --->
    <include src="./partials/_footer-documents.html"></include>
    
    <!--- Copyright --->
    <include src="./partials/_footer-copyright.html"></include>

  </div>
</footer>