<section class="section">
  <div class="container">
    <h2 class="reports__title">Звіти БФ «Заново»</h2>
  </div>
</section>

<section class="section">
  <div class="container">

    <p class="reports__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam perspiciatis nulla enim dolorum consectetur illo,
      eius vitae maiores aliquid soluta illum laudantium et!
    </p>

    <!-- Add gallery items to this list -->
    <ul class="reports-gallery list"></ul>

  </div>
</section>