<header class="header">
  <div class="header__container container">
    
    <a class="header__logo" href="./index.html">
      <img srcset="./images/favicon.png 1x, ./images/favicon.png 2x" src="./images/favicon.png" alt="logo" width="50"
        height="50" loading="lazy">
    </a>

    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>

      <nav class="menu__body">
        
        <ul class="menu__list list">
          <li class="menu__item">
            <a class="menu__link link"
            data-lang="lang__menu-link-home" 
            href="./index.html">
            </a>
          </li>
          <li class="menu__item">
            <div class="menu__link link"
            data-lang="lang__menu-link-projects">
            </div>
            <span class="menu__arrow"></span>
            
            <ul class="menu__sub-list list">
              <li class="menu__sub-item">
                <a class="menu__sub-link link"
                data-lang="lang__menu-sub-link-zsu-help" 
                href="./unit-zsu-help.html">
                </a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link" data-lang="lang__menu-sub-link-reconstruction"
                href="./unit-reconstruction.html">
                </a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link"
                data-lang="lang__menu-sub-link-nets"
                href="./unit-nets.html">
                </a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link"
                data-lang="lang__menu-sub-link-candle"
                href="./unit-candle.html">
                </a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link" data-lang="lang__menu-sub-link-humanitarian"
                href="./unit-humanitarian-help.html">
                </a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link"
                data-lang="lang__menu-sub-link-events"
                href="./unit-events.html">
                </a>
              </li>
            </ul>

          </li>
          <li class="menu__item">
            <a class="menu__link link"
            data-lang="lang__menu-link-about" 
            href="./about-us.html">
              </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link"
            data-lang="lang__menu-link-report" 
            href="./fund-report.html">
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link"
            data-goto=".scroll__data-5"
            data-lang="lang__menu-link-contacts"
            href="#">
            </a>
          </li>
          <li class="menu__item donate">
            <a class="menu__link link"
            data-lang="lang__menu-link-donate" 
            href="./donate.html">
            </a>
          </li>
        </ul>

        <div class="header__lang-container">
          <button class="header__lang-btn" data-btn="ua">
            UA
          </button>
          <button class="header__lang-btn" data-btn="en">
            EN
          </button>
        </div>

      </nav>
    </div>

  </div>
</header>