<header class="header">
  <div class="header__container container">

    <a href="./index.html">
      <img class="header__logo" srcset="./images/logo.svg 1x, ./images/logo.svg 2x" src="./images/logo.svg" alt="logo" width="100" height="100" loading="lazy">
    </a>

    <nav class="header__nav">
      <ul class="header__nav-list list">
        <li class="header__nav-item">
          <a class="header__nav-link link" href="./index.html">Фонд "ЗАНОВО"</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="">Проєкти</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="./about-us.html">Про нас</a>
        </li>
        <li class="header__nav-item">
          <a class="header__nav-link link" href="./fund-report.html">Звіти фонду</a>
        </li>
        <!-- <li class="header__nav-item">
          <a class="header__nav-link link" href="">Колаба</a>
        </li> -->
        <li class="header__nav-item">
          <a class="header__nav-link link" href="">Контакти</a>
        </li>
        <li class="header__nav-item donat">
          <a class="header__nav-link link" href="https://send.monobank.ua/jar/3MGjwwxo1B">Зробити донат</a>
        </li>
      </ul>
    </nav>

  </div>
</header>