<header class="header">
  <div class="header__container container">
    
    <a class="header__logo" href="./index.html">
      <img srcset="./images/favicon.png 1x, ./images/favicon.png 2x" src="./images/favicon.png" alt="logo" width="50"
        height="50" loading="lazy">
    </a>

    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>

      <nav class="menu__body">
        <ul class="menu__list list">
          <li class="menu__item">
            <a class="menu__link link" href="./index.html">
              Фонд "ЗАНОВО"
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#">
              Проєкти
            </a>
            <span class="menu__arrow"></span>
            
            <ul class="menu__sub-list list">
              <li class="menu__sub-item">
                <a class="menu__sub-link link" href="./unit-reconstruction.html">
                  Відбудова країни
                </a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link" href="">Допомога ЗСУ</a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link" href="./unit-candle.html">Сили ССО</a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link" href="">Сітко-маскувальні сили</a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link" href="./unit-humanitarian-help.html">Гуманітарна допомога</a>
              </li>
              <li class="menu__sub-item">
                <a class="menu__sub-link link" href="">Благодійні заходи</a>
              </li>
            </ul>

          </li>
          <li class="menu__item">
            <a class="menu__link link" href="./about-us.html">
              Про нас
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="./fund-report.html">
              Звіти фонду
            </a>
          </li>
          <li class="menu__item">
            <a href="#contacts" class="menu__link link">Контакти</a>
          </li>
          <li class="menu__item donate">
            <a class="menu__link link" href="./donate.html">Зробити донат</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</header>