<!-- Swiper -->

<section class="section">

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 11</p>
        <img srcset="./images/main-page/img-main-001@1.webp 1x, ./images/main-page/img-main-001@2.webp 2x"
          src="./images/main-page/img-main-001@1.webp" alt="image" width="300" height="300" loading="lazy" />
      </div>
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 22</p>
        <img srcset="./images/main-page/img-main-002@1.webp 1x, ./images/main-page/img-main-002@2.webp 2x"
          src="./images/main-page/img-main-002@1.webp" alt="image" width="300" height="300" loading="lazy" />
      </div>
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 33</p>
        <img srcset="./images/main-page/img-main-003@1.webp 1x, ./images/main-page/img-main-003@2.webp 2x"
          src="./images/main-page/img-main-003@1.webp" alt="image" width="300" height="300" loading="lazy" />
      </div>
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 44</p>
        <img srcset="./images/main-page/img-main-004@1.webp 1x, ./images/main-page/img-main-004@2.webp 2x"
          src="./images/main-page/img-main-004@1.webp" alt="image" width="300" height="300" loading="lazy" />
      </div>
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 55</p>
        <img srcset="./images/main-page/img-main-002@1.webp 1x, ./images/main-page/img-main-002@2.webp 2x"
          src="./images/main-page/img-main-002@1.webp" alt="image" width="300" height="300" loading="lazy" />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  
</section>