<!-- ICONS on main page -->

<section class="section icons__section">
  <div class="container">
    <ul class="icons__main-list list">
      
      <li>
        <a class="link icons__main-link animation__icon" href="./unit-zsu-help.html" aria-label="ZSU icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-zsu"></use>
            </svg>

          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title"
            data-lang="lang__main-icons-title-1">
            </h2>
            <p class="icons__main-description"
            data-lang="lang__main-icons-description-1">
            </p>
          </div>
        </a>
      </li>

      <li>
        <a class="link icons__main-link animation__icon" href="./unit-reconstruction.html" aria-label="Charity icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-charity"></use>
            </svg>
          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title"
            data-lang="lang__main-icons-title-2">
            </h2>
            <p class="icons__main-description"
            data-lang="lang__main-icons-description-2">
            </p>
          </div>
        </a>
      </li>
      
      <li>
        <a class="link icons__main-link animation__icon" href="./unit-nets.html" aria-label="Nets icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-nets"></use>
            </svg>
      
          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title"
            data-lang="lang__main-icons-title-3">
            </h2>
            <p class="icons__main-description"
            data-lang="lang__main-icons-description-3">
            </p>
          </div>
        </a>
      </li>

      <li>
        <a class="link icons__main-link animation__icon" href="./unit-candle.html" aria-label="Candles icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-candles"></use>
            </svg>
      
          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title"
            data-lang="lang__main-icons-title-4">
            </h2>
            <p class="icons__main-description"
            data-lang="lang__main-icons-description-4">
            </p>
          </div>
        </a>
      </li>
      
      <li>
        <a class="link icons__main-link animation__icon" href="./unit-humanitarian-help.html" aria-label="Humanitarian icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-humanitarian"></use>
            </svg>

          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title"
            data-lang="lang__main-icons-title-5">
            </h2>
            <p class="icons__main-description"
            data-lang="lang__main-icons-description-5">
            </p>
          </div>
        </a>
      </li>
      
      <li>
        <a class="link icons__main-link animation__icon" href="./unit-events.html" aria-label="Events icon">
          <div class="icons__img-wrapper">

            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-events"></use>
            </svg>
          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title"
            data-lang="lang__main-icons-title-6">
            </h2>
            <p class="icons__main-description"
            data-lang="lang__main-icons-description-6">
            </p>
          </div>
        </a>
      </li>

    </ul>
  </div>
</section>