<!-- Swiper -->

<section class="section">

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 11</p>
        <picture>
          <!-- desktop screen -->
          <source media="(min-width: 1200px)"
            srcset="./images/main-page/img-main-001-desktop@1x.webp 1x, ./images/main-page/img-main-001-desktop@2x.webp 2x" type="image/webp" />
          <!-- tablet screen -->
          <source media="(min-width: 768px)"
            srcset="./images/main-page/img-main-001-tablet@1x.webp 1x, ./images/main-page/img-main-001-tablet@2x.webp 2x" type="image/webp" />
          <!-- mobile screen -->
          <source media="(max-width: 767px)"
            srcset="./images/main-page/img-main-001-mobile@1x.webp 1x, ./images/main-page/img-main-001-mobile@2x.webp 2x" type="image/webp" />
          <img src="./images/main-page/img-main-001-mobile@1x.webp" alt="image" width="300" height="300" loading="lazy">
        </picture>
      </div>
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 22</p>
        <picture>
          <!-- desktop screen -->
          <source media="(min-width: 1200px)"
            srcset="./images/main-page/img-main-002-desktop@1x.webp 1x, ./images/main-page/img-main-002-desktop@2x.webp 2x"
            type="image/webp" />
          <!-- tablet screen -->
          <source media="(min-width: 768px)"
            srcset="./images/main-page/img-main-002-tablet@1x.webp 1x, ./images/main-page/img-main-002-tablet@2x.webp 2x"
            type="image/webp" />
          <!-- mobile screen -->
          <source media="(max-width: 767px)"
            srcset="./images/main-page/img-main-002-mobile@1x.webp 1x, ./images/main-page/img-main-002-mobile@2x.webp 2x"
            type="image/webp" />
          <img src="./images/main-page/img-main-002-mobile@1x.webp" alt="image" width="300" height="300" loading="lazy">
        </picture>
      </div>
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 33</p>
        <picture>
          <!-- desktop screen -->
          <source media="(min-width: 1200px)"
            srcset="./images/main-page/img-main-003-desktop@1x.webp 1x, ./images/main-page/img-main-003-desktop@2x.webp 2x"
            type="image/webp" />
          <!-- tablet screen -->
          <source media="(min-width: 768px)"
            srcset="./images/main-page/img-main-003-tablet@1x.webp 1x, ./images/main-page/img-main-003-tablet@2x.webp 2x"
            type="image/webp" />
          <!-- mobile screen -->
          <source media="(max-width: 767px)"
            srcset="./images/main-page/img-main-003-mobile@1x.webp 1x, ./images/main-page/img-main-003-mobile@2x.webp 2x"
            type="image/webp" />
          <img src="./images/main-page/img-main-003-mobile@1x.webp" alt="image" width="300" height="300" loading="lazy">
        </picture>
      </div>
      <div class="swiper-slide">
        <p class="swiper-slide-text">Благодійний фонд</p>
        <p class="swiper-slide-text">"ЗАНОВО" 44</p>
        <picture>
          <!-- desktop screen -->
          <source media="(min-width: 1200px)"
            srcset="./images/main-page/img-main-004-desktop@1x.webp 1x, ./images/main-page/img-main-004-desktop@2x.webp 2x"
            type="image/webp" />
          <!-- tablet screen -->
          <source media="(min-width: 768px)"
            srcset="./images/main-page/img-main-004-tablet@1x.webp 1x, ./images/main-page/img-main-004-tablet@2x.webp 2x"
            type="image/webp" />
          <!-- mobile screen -->
          <source media="(max-width: 767px)"
            srcset="./images/main-page/img-main-004-mobile@1x.webp 1x, ./images/main-page/img-main-004-mobile@2x.webp 2x"
            type="image/webp" />
          <img src="./images/main-page/img-main-004-mobile@1x.webp" alt="image" width="300" height="300" loading="lazy">
        </picture>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
  
</section>