<!-- HERO on main page -->

<section class="hero__section section">
  <div class="hero__container container">
    <h1 class="hero__title">

      <span class="hero__title-primary">с</span>
      <span class="hero__title-primary">в</span>
      <span class="hero__title-primary">о</span>
      <span class="hero__title-primary">є</span>
      <span class="hero__title-primary">&nbsp;</span>
      <span class="hero__title-accent">з</span>
      <span class="hero__title-accent">а</span>
      <span class="hero__title-accent">х</span>
      <span class="hero__title-accent">и</span>
      <span class="hero__title-accent">с</span>
      <span class="hero__title-accent">т</span>
      <span class="hero__title-accent">и</span>
      <span class="hero__title-accent">м</span>
      <span class="hero__title-accent">,</span>
      <span class="hero__title-primary"><br></span>
      <span class="hero__title-accent">в</span>
      <span class="hero__title-accent">і</span>
      <span class="hero__title-accent">д</span>
      <span class="hero__title-accent">б</span>
      <span class="hero__title-accent">у</span>
      <span class="hero__title-accent">д</span>
      <span class="hero__title-accent">у</span>
      <span class="hero__title-accent">є</span>
      <span class="hero__title-accent">м</span>
      <span class="hero__title-accent">о</span>
      <span class="hero__title-primary">&nbsp;</span>
      <span class="hero__title-primary">з</span>
      <span class="hero__title-primary">а</span>
      <span class="hero__title-primary">н</span>
      <span class="hero__title-primary">о</span>
      <span class="hero__title-primary">в</span>
      <span class="hero__title-primary">о</span>
      <span class="hero__title-primary">!</span>

    </h1>
  </div>
</section>



<!-- 1st version -->

<!-- <section class="hero__section section">
  <div class="hero__container container">
    <h1 class="hero__title">
      Своє <span class="hero__title-accent">захистим,</span> <span class="hero__title-accent">відбудуємо</span> заново!
    </h1>
  </div>
</section> -->