<!-- ICONS on main page -->

<section class="section icons__section">
  <div class="container">
    <ul class="icons__main-list list">
      <li>
        <a class="link icons__main-link" href="./unit-reconstruction.html" aria-label="Charity icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40"> <use href="./images/icons.svg#icon-charity"></use>
            </svg>
          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title">
              Відбудова країни
            </h2>
            <p class="icons__main-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, atque repellat rerum maiores ad autem.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="link icons__main-link" href="" aria-label="ZSU icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-zsu"></use>
            </svg>

          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title">
              Допомога ЗСУ
            </h2>
            <p class="icons__main-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, atque repellat rerum maiores ad autem.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="link icons__main-link" href="./unit-candle.html" aria-label="Candles icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-candles"></use>
            </svg>

          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title">
              Сили спеціальних свічкових операцій
            </h2>
            <p class="icons__main-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, atque repellat rerum maiores ad autem.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="link icons__main-link" href="" aria-label="Nets icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-nets"></use>
            </svg>
      
          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title">
              Сітко-маскувальні сили
            </h2>
            <p class="icons__main-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, atque repellat rerum maiores ad autem.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="link icons__main-link" href="" aria-label="Humanitarian icon">
          <div class="icons__img-wrapper">
            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-humanitarian"></use>
            </svg>

          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title">
              Гуманітарна допомога
            </h2>
            <p class="icons__main-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, atque repellat rerum maiores ad autem.
            </p>
          </div>
        </a>
      </li>
      <li>
        <a class="link icons__main-link" href="" aria-label="Events icon">
          <div class="icons__img-wrapper">

            <svg class="icons__img" width="40" height="40">
              <use href="./images/icons.svg#icon-events"></use>
            </svg>
          </div>
          <div class="icons__main-wrapper">
            <h2 class="icons__main-title">
              Благодійні заходи
            </h2>
            <p class="icons__main-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, atque repellat rerum maiores ad autem.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

<!-- <section class="section">
  <div class="container">
    
    <ul class="icons__main-list list">
      <li>
        <a class="icons__main-link link" href="./unit-reconstruction.html" aria-label="Charity icon">
          <svg class="icons__img" width="140" height="140">
            <use href="./images/icons.svg#icon-charity"></use>
          </svg>
          <h2 class="icons__main-title">Відбудова країни</h2>
        </a>
      </li>
      <li>
        <a class="icons__main-link link" href="" aria-label="ZSU icon">
          <svg class="icons__img" width="140" height="140">
            <use href="./images/icons.svg#icon-zsu"></use>
          </svg>
          <h2 class="icons__main-title">Допомога ЗСУ</h2>
        </a>
      </li>
      <li>
        <a class="icons__main-link link" href="./unit-candle.html" aria-label="Candles icon">
          <svg class="icons__img" width="140" height="140">
            <use href="./images/icons.svg#icon-candles"></use>
          </svg>
          <h2 class="icons__main-title">Сили спеціальних свічкових операцій</h2>
        </a>
      </li>
      <li>
        <a class="icons__main-link link" href="" aria-label="Nets icon">
          <svg class="icons__img" width="140" height="140">
            <use href="./images/icons.svg#icon-nets"></use>
          </svg>
          <h2 class="icons__main-title">Загін сітко-маскувальних сил</h2>
        </a>
      </li>
      <li>
        <a class="icons__main-link link" href="" aria-label="Humanitarian icon">
          <svg class="icons__img" width="140" height="140">
            <use href="./images/icons.svg#icon-humanitarian"></use>
          </svg>
          <h2 class="icons__main-title">Гуманітарна допомога</h2>
        </a>
      </li>
      <li>
        <a class="icons__main-link link" href="" aria-label="Donate icon">
          <svg class="icons__img" width="140" height="140">
            <use href="./images/icons.svg#icon-donate"></use>
          </svg>
          <h2 class="icons__main-title">Благодійні заходи</h2>
        </a>
      </li>
    </ul>
    
  </div>
</section> -->