<!-- ABOUT on main page -->

<section class="section main__about-section">
  <div class="container">
    <p class="main__about-text"
    data-lang="lang__main-about-text-1">
      З лютого 2022 року ми почали надавати допомогу на Київському залізничному вокзалі. Наша команда з понад 100 волонтерів допомагала військовим, біженцям, соціальним центрам і лікарням. Завдяки вашим внескам ми забезпечували гуманітарні вантажі для регіонів, постраждалих від війни, а також надавали харчування сотням людей щодня.
    </p>
    <p class="main__about-text"
    data-lang="lang__main-about-text-2">
      Труднощі нас лише зміцнювали, і сьогодні ми, об'єднані в благодійний фонд &laquo;ЗАНОВО&raquo;, продовжуємо працювати за кількома напрямками: відбудова країни, гуманітарна допомога, підтримка ЗСУ, плетіння сіток, виготовлення свічок та організація благодійних заходів. Кожен внесок і кожна година праці наших волонтерів наближає нас до перемоги. Ми віримо у квітуче майбутнє України і разом працюємо задля його досягнення.
    </p>
  </div>
</section>