<section class="section">
  <div class="container">
    <h2 class="reconstruction__title"
    data-lang="lang__reconstruction-title">
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">

    <ul class="reconstruction__list list">

      <li class="reconstruction__item animation__bottom">
        <h3 class="reconstruction__list-title text-uppercase"
        data-lang="lang__reconstruction-list-title-1">
        </h3>
        <p class="reconstruction__list-description"
        data-lang="lang__reconstruction-list-description-1">
        </p>
        <div class="reconstruction__content-wrapper">
          <div class="reconstruction__description-wrapper">
            <p class="reconstruction__description"
            data-lang="lang__reconstruction-description-1">
            </p>
          </div>
          <div class="reconstruction__img-wrapper">
            <img class="reconstruction__img"
              srcset="./images/projects/img-projects-reconstruction-001@1x.webp 1x, ./images/projects/img-projects-reconstruction-001@2x.webp 2x"
              src="./images/projects/img-projects-reconstruction-001@1x.webp" alt="image candle" width="560" height="735"
              loading="lazy">
            <img class="reconstruction__img"
              srcset="./images/projects/img-projects-reconstruction-002@1x.webp 1x, ./images/projects/img-projects-reconstruction-002@2x.webp 2x"
              src="./images/projects/img-projects-reconstruction-002@1x.webp" alt="image candle" width="560" height="735"
              loading="lazy">
          </div>
        </div>
      </li>

      <li class="reconstruction__item animation__bottom">
        <h3 class="reconstruction__list-title text-uppercase"
        data-lang="lang__reconstruction-list-title-2">
        </h3>
        <p class="reconstruction__list-description"
        data-lang="lang__reconstruction-list-description-2">
        </p>
        <div class="reconstruction__content-wrapper reconstruction__content-reverse">
          <div class="reconstruction__description-wrapper">
            <p class="reconstruction__description"
            data-lang="lang__reconstruction-description-2">
            </p>
          </div>
          <div class="reconstruction__img-wrapper">
            <img class="reconstruction__img"
              srcset="./images/projects/img-projects-reconstruction-003@1x.webp 1x, ./images/projects/img-projects-reconstruction-003@2x.webp 2x"
              src="./images/projects/img-projects-reconstruction-003@1x.webp" alt="image candle" width="560" height="945"
              loading="lazy">
            <img class="reconstruction__img"
              srcset="./images/projects/img-projects-reconstruction-004@1x.webp 1x, ./images/projects/img-projects-reconstruction-004@2x.webp 2x"
              src="./images/projects/img-projects-reconstruction-004@1x.webp" alt="image candle" width="560" height="945"
              loading="lazy">
          </div>
        </div>
      </li>

      <li class="reconstruction__item animation__bottom">
        <h3 class="reconstruction__list-title text-uppercase"
        data-lang="lang__reconstruction-list-title-3">
        </h3>
        <p class="reconstruction__list-description"
        data-lang="lang__reconstruction-list-description-3">
        </p>
        <div class="reconstruction__content-wrapper">
          <div class="reconstruction__description-wrapper">
            <p class="reconstruction__description"
            data-lang="lang__reconstruction-description-3">
            </p>
          </div>
          <div class="reconstruction__img-wrapper">
            <img class="reconstruction__img"
              srcset="./images/projects/img-projects-reconstruction-005@1x.webp 1x, ./images/projects/img-projects-reconstruction-005@2x.webp 2x"
              src="./images/projects/img-projects-reconstruction-005@1x.webp" alt="image candle" width="560" height="735"
              loading="lazy">
            <img class="reconstruction__img"
              srcset="./images/projects/img-projects-reconstruction-006@1x.webp 1x, ./images/projects/img-projects-reconstruction-006@2x.webp 2x"
              src="./images/projects/img-projects-reconstruction-006@1x.webp" alt="image candle" width="560" height="735"
              loading="lazy">
          </div>
        </div>
      </li>

      <li class="reconstruction__item animation__bottom">
        <h3 class="reconstruction__list-title text-uppercase"
        data-lang="lang__reconstruction-list-title-4">
        </h3>
        <p class="reconstruction__list-description"
        data-lang="lang__reconstruction-list-description-4">
        </p>
        <div class="reconstruction__content-wrapper reconstruction__content-reverse">
          <div class="reconstruction__description-wrapper">
            <p class="reconstruction__description"
            data-lang="lang__reconstruction-description-4">
            </p>
          </div>
          <div class="reconstruction__img-wrapper">
            <img class="reconstruction__img"
              srcset="./images/projects/img-projects-reconstruction-007@1x.webp 1x, ./images/projects/img-projects-reconstruction-007@2x.webp 2x"
              src="./images/projects/img-projects-reconstruction-007@1x.webp" alt="image candle" width="560" height="735"
              loading="lazy">
            <img class="reconstruction__img"
              srcset="./images/projects/img-projects-reconstruction-008@1x.webp 1x, ./images/projects/img-projects-reconstruction-008@2x.webp 2x"
              src="./images/projects/img-projects-reconstruction-008@1x.webp" alt="image candle" width="560" height="735"
              loading="lazy">
          </div>
        </div>
      </li>

    </ul>

  </div>
</section>