<section class="section">
  <div class="container">
    <h2 class="zsu__title">Допомога ЗСУ</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="zsu__list list">

      <li class="zsu__item">
        <div class="zsu__description-wrapper">
          <p class="zsu__description-title text-bold">
            Повсякденні потреби.
          </p>
          <p class="zsu__description-text">
            Постійно підтримуємо наших військових на різних напрямках фронту для покращення їхнього буття та знаходимо для них все харчування (тушонка, сухі типи каш і супів швидкого приготування, солодкі батончики та шоколад, консервовані продукти харчування), таблетками для знезараження води, засобами гігієни, термосами, пляшками для води, посудом, термобілизною, взуттям, спальниками, карематами, наметами, ліхтариками, павербанками, генераторами, акумуляторами, старлінками та іншим обладнанням, яке допомагає воїнам захищати нашу країну максимально ефективно.
          </p>
        </div>
        <div class="zsu__img-wrapper">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-001@1x.webp 1x, ./images/projects/img-projects-zsu-help-001@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-001@1x.webp" alt="image" width="200" height="200" loading="lazy">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-002@1x.webp 1x, ./images/projects/img-projects-zsu-help-002@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-002@1x.webp" alt="image" width="200" height="200" loading="lazy">
        </div>
      </li>

      <li class="zsu__item">
        <div class="zsu__description-wrapper">
          <p class="zsu__description-title text-bold">
            Облаштування побуту.
          </p>
          <p class="zsu__description-text">
            Закуповуємо будівельні матеріали для покращення умов проживання наших воїнів в окопах. Завдяки плитам ДСП, оцинкованій сітці, скобам, цвяхам, саморізам, будівельним кріпленням, пилам, сокирам, лопатам та іншим буд. матеріалам, а також насосам для відкачування води наші захисники мають можливість добре облаштовувати свої бліндажі та підготуватись до будь-яких змін погоди.
          </p>
        </div>
        <div class="zsu__img-wrapper">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-003@1x.webp 1x, ./images/projects/img-projects-zsu-help-003@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-003@1x.webp" alt="image" width="200" height="200" loading="lazy">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-004@1x.webp 1x, ./images/projects/img-projects-zsu-help-004@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-004@1x.webp" alt="image" width="200" height="200" loading="lazy">
        </div>
      </li>

      <li class="zsu__item">
        <div class="zsu__description-wrapper">
          <p class="zsu__description-title text-bold">
            Забезпечення медициною.
          </p>
          <p class="zsu__description-text">
            Особлива увага приділяється забезпеченню медициною наших воїнів: фіз. розчини, знеболювальні, етиловий спирт, адреналін, ізофілія, серцево-судинні та кишково-шлункові таблетки, вітаміни, зігріваючі гелі та мазі, антисептичні мазі та розчини. Крім роздрібної медицини також надаємо укомплектовані аптечки за військовим стандартом країн-донорів допомоги.
          </p>
        </div>
        <div class="zsu__img-wrapper">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-005@1x.webp 1x, ./images/projects/img-projects-zsu-help-005@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-005@1x.webp" alt="image" width="200" height="200" loading="lazy">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-006@1x.webp 1x, ./images/projects/img-projects-zsu-help-006@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-006@1x.webp" alt="image" width="200" height="200" loading="lazy">
        </div>
      </li>

      <li class="zsu__item">
        <div class="zsu__description-wrapper">
          <p class="zsu__description-title text-bold">
            Тактика та інше обладнання.
          </p>
          <p class="zsu__description-text">
            Завдяки підтримці вітчизняних та закордонних організацій та приватних осіб нами закуплено та передано нашим військовим: дрони, рації, намети, термобілизну, лопати саперні, буржуйки, генератори бензинові, масло для генераторів, тепловізори, планшети, спальники, джерела безперебійного живлення, їжу, сухі душі, масло для зброї, обігрівачі, сонячні панелі та батареї до них, газові пальники.
          </p>
          <p class="zsu__description-text">
            Всім нашим друзям і партнерам <span class="text-uppercase">особлива подяка</span> та наші обійми!
          </p>
        </div>
        <div class="zsu__img-wrapper">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-007@1x.webp 1x, ./images/projects/img-projects-zsu-help-007@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-007@1x.webp" alt="image" width="200" height="200" loading="lazy">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-008@1x.webp 1x, ./images/projects/img-projects-zsu-help-008@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-008@1x.webp" alt="image" width="200" height="200" loading="lazy">
        </div>
      </li>

      <li class="zsu__item">
        <div class="zsu__description-wrapper">
          <p class="zsu__description-title text-bold">
            Військовим медикам.
          </p>
          <p class="zsu__description-text">
            Колаборація з вітчизняними фарм. компаніями, закордонними доброчинними організаціями та приватними особами дозволяє нам забезпечувати військових медиків на стабілізаційних пунктах та медичних евакуаційних екіпажах найнеобхіднішими медикаментами та виробами медичного призначення для збереження життів поранених: йоностеріл, гелафундін, транексам, дексаметазон, ондансетрон, лідокаїн, бупівакаїн, моксіфлоксацин, ЦВК різних розмірів, заглушки для в/в катетерів, тегадерм адванс в/в, канюлі міні спайк, вазофікси різних розмірів, дренажі торакальні, сечозбірники, набори для катетерізації сечового міхура, катетери сечові типу Фоллей, пов’язки окклюзійні, монітори пацієнта Mindray, набори для ПХО ран одноразові стерильні, стерильні рукавички, хірургічні голки, кисневі маски, польові ноші, кишеньковий міні-ехограф Wi-Fi.
          </p>
        </div>
        <div class="zsu__img-wrapper">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-009@1x.webp 1x, ./images/projects/img-projects-zsu-help-009@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-009@1x.webp" alt="image" width="200" height="200" loading="lazy">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-010@1x.webp 1x, ./images/projects/img-projects-zsu-help-010@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-010@1x.webp" alt="image" width="200" height="200" loading="lazy">
        </div>
      </li>

      <li class="zsu__item">
        <div class="zsu__description-wrapper">
          <p class="zsu__description-title text-bold">
            На шпиталь.
          </p>
          <p class="zsu__description-text">
            Завдяки колаборації з українською мережею магазинів HUMANA, нами передано пораненим у шпиталі та реабілітаційні центри: майки, футболки, сорочки, шорти, штани, кофти, светри, світшоти. Також невелику партію адаптивного одягу від компанії PHY нами було передано пораненим в шпиталь. Ще на військові шпиталі передаємо медицину: шприци та голки для ін’єкцій, шприци з фізрозчином, системи для змішування ліків для ін’єкцій, голки для забору крові, системи до крапельниць, зонди, комплектуючі для кало- та уріностом, ліки, мазі, медичні маски, медичний одяг, поїлки, дезінфектори, стерильні накладки на рани, бинти різного типу, накладки на очі і ще всілякі приспособи для хірургії та реанімації.
          </p>
        </div>
        <div class="zsu__img-wrapper">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-011@1x.webp 1x, ./images/projects/img-projects-zsu-help-011@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-011@1x.webp" alt="image" width="200" height="200" loading="lazy">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-012@1x.webp 1x, ./images/projects/img-projects-zsu-help-012@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-012@1x.webp" alt="image" width="200" height="200" loading="lazy">
        </div>
      </li>

      <li class="zsu__item">
        <div class="zsu__description-wrapper">
          <p class="zsu__description-title text-bold">
            Необхідне.
          </p>
          <p class="zsu__description-text">
            Що зараз НЕОБХІДНЕ, чим ще можна допомогти нашим воїнам? Необхідним і важливим є забезпечення поранених одягом. Коли поранений потрапляє на медичний стабілізаційний пункт, як правило, з нього зрізається вся його одежа. І що далі? Далі, після стабілізації бійця, його потрібно вдягнути в елементарні речі – білизну (в тому числі адаптивну), сорочки, штани, капці… Мати у що вдягнути пораненого – це про частину його життя, частину його відновлення, це про гідність та турботу, це про <span class="text-uppercase">необхідне</span>. Тому ми розпочали цей проект і, разом з нашими друзями та партнерами – дівчатами з волонтерської групи Шити-Жити, шиємо білизну та забезпечуємо нею поранених на стабілізаційних пунктах та у шпиталях. Частково тканину для цього нам безкоштовно надає Алла Березовська, підприємець з м. Горішні Плавні.
          </p>
        </div>
        <div class="zsu__img-wrapper">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-013@1x.webp 1x, ./images/projects/img-projects-zsu-help-013@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-013@1x.webp" alt="image" width="200" height="200" loading="lazy">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-014@1x.webp 1x, ./images/projects/img-projects-zsu-help-014@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-014@1x.webp" alt="image" width="200" height="200" loading="lazy">
        </div>
      </li>

      <li class="zsu__item">
        <div class="zsu__description-wrapper">
          <p class="zsu__description-title text-bold">
            Адаптивний вже допомагає.
          </p>
          <p class="zsu__description-text">
            Адаптивний – специфічний одяг для поранених, що має липучки та зав'язки замість швів і тому його зручно вдягати, носити, знімати та знову вдягати на перев'язках. Це єдиний одяг, який легко можуть використовувати наші захисники зі складними пораненнями. Ми, разом з волонтерською групою Шити-Жити, забезпечуємо наших поранених адаптивним одягом: майками, футболками, шортами, штанами. Для цього ми організовуємо збори коштів, закуповуємо трикотажну тканину, а дівчата з Шити-Жити його шиють. Зрештою, наш адаптивний одяг дістається до стабілізаційних пунктів та шпиталів де допомагає воїнам.
          </p>
        </div>
        <div class="zsu__img-wrapper">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-015@1x.webp 1x, ./images/projects/img-projects-zsu-help-015@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-015@1x.webp" alt="image" width="200" height="200" loading="lazy">
          <img class="zsu__img"
            srcset="./images/projects/img-projects-zsu-help-016@1x.webp 1x, ./images/projects/img-projects-zsu-help-016@2x.webp 2x"
            src="./images/projects/img-projects-zsu-help-016@1x.webp" alt="image" width="200" height="200" loading="lazy">
        </div>
      </li>

    </ul>
  </div>
</section>