<section class="section">
  <div class="container">
    <h2 class="events__title">Благодійні заходи</h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="events__list-btn list">
      <li class="events__list-btn-item">
        <a href="#" class="events__btn link" data-goto=".scroll__data-1">
          <h3 class="events__btn-title" data-goto=".scroll__data-1">
            Інклюзивно-ресурсний центр
          </h3>
          <p class="events__btn-city" data-goto=".scroll__data-1">
            смт Бородянка
          </p>
        </a>
      </li>
      <li class="events__list-btn-item">
        <a href="#" class="events__btn link" data-goto=".scroll__data-2">
          <h3 class="events__btn-title" data-goto=".scroll__data-2">
            Паспортний стіл
          </h3>
          <p class="events__btn-city" data-goto=".scroll__data-2">
            смт Бородянка
          </p>
        </a>
      </li>
      <li class="events__list-btn-item">
        <a href="#" class="events__btn link" data-goto=".scroll__data-3">
          <h3 class="events__btn-title" data-goto=".scroll__data-3">
            Дитячий садок «Казка»
          </h3>
          <p class="events__btn-city" data-goto=".scroll__data-3">
            смт Бородянка
          </p>
        </a>
      </li>
      <li class="events__list-btn-item">
        <a href="#" class="events__btn link" data-goto=".scroll__data-4">
          <h3 class="events__btn-title" data-goto=".scroll__data-4">
            Школа-дитячий садок «Схід»
          </h3>
          <p class="events__btn-city" data-goto=".scroll__data-4">
            м. Київ
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="events__list list">
    
      <li class="events__list-item">
        <h3 class="events__list-title">
          <span class="text-uppercase">
            Благодійна вистава
          </span>
          та
          <span class="text-uppercase">
            handmade ярмарок
          </span>
          (11.06.2022)
        </h3>
        <div class="events__content-wrapper">
          <div class="events__description-wrapper">
            <p class="events__description">
              <span class="text-uppercase">Благодійна вистава «Крадії жіночих сердець»</span> (режисер – заслужений артист України Руслан Гофуров) та <span class="text-uppercase">handmade ярмарок</span>: картини, м’які іграшки, вазони для квітів, стікери, сережки та намисто з національними мотивами – кожен знайде щось собі до душі.
            </p>
            <p class="events__description">
              Благодійний захід організовано для збору коштів на дві добрі справи:
            </p>
            <ul class="events__sub-list">
              <li class="events__sub-list-item">
                <p class="events__description">
                  відновлення дитячого садочку у Бородянці;
                </p>
              </li>
              <li class="events__sub-list-item">
                <p class="events__description">
                  порятунок сім’ї волонтера з окупованої території.
                </p>
              </li>
            </ul>
          </div>
          <div class="events__img-wrapper">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-001@1x.webp 1x, ./images/projects/img-projects-events-001@2x.webp 2x"
              src="./images/projects/img-projects-events-001@1x.webp" alt="image" width="200" height="150" loading="lazy">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-002@1x.webp 1x, ./images/projects/img-projects-events-002@2x.webp 2x"
              src="./images/projects/img-projects-events-002@1x.webp" alt="image" width="200" height="280" loading="lazy">
          </div>
        </div>
      </li>
    
      <li class="events__list-item">
        <h3 class="events__list-title">Комедійне шоу-імпровізація та handmade ярмарок (26.06.2022)</h3>
        <img class="events__img"
          srcset="./images/projects/img-projects-events-003@1x.webp 1x, ./images/projects/img-projects-events-003@2x.webp 2x"
          src="./images/projects/img-projects-events-003@1x.webp" alt="image" width="200" height="150" loading="lazy">
        <p class="events__description">Комедійне шоу-імпровізація "Banger Improv". Тільки імпровізація! Ніяких заготовок від акторів! Приходьте відпочити, посміятися та допомогти у добрих
        справах!</p>
        <p class="events__description">Handmade ярмарок. Благодійний захід організовано для збору коштів на дві добрі справи:</p>
        <ul>
          <li>
            заміна вікон у дитячому садочку «Казка» в Бородянці;
          </li>
          <li>
            дитячий інклюзивний садочок у Києві «Схід».
          </li>
        </ul>
          <img class="events__img"
            srcset="./images/projects/img-projects-events-004@1x.webp 1x, ./images/projects/img-projects-events-004@2x.webp 2x"
            src="./images/projects/img-projects-events-004@1x.webp" alt="image" width="200" height="150" loading="lazy">
      </li>
    
      <li class="events__list-item">
        <h3 class="events__list-title scroll__data-3">Відновлюємо дитячий садок «Казка» у смт Бородянка
          Київської області</h3>
        <p class="events__list-text">(червень-липень 2022)</p>
        <p class="events__list-text events__text-italic">Бородянський заклад дошкільної освіти (ясла-садок)
          комбінованого типу «Казка» Бородянської селищної ради Київської області.</p>
        <p class="events__list-text"><span class="events__text-bold">Адреса:</span> ДНЗ «Казка», 07801,
          Київська область, смт. Бородянка, вул. Центральна, 264-б.</p>
        <p class="events__list-text"><span class="events__text-bold">Коли:</span> червень-липень 2022.</p>
        <p class="events__list-text"><span class="events__text-bold">Об’єм робіт:</span> ремонт зовнішніх
          стін, заміна дверей та вікон. Ще один із об’єктів у Бородянці, яким опікується наш фонд – це дитячий садочок
          «Казка». Російські окупанти, які робили штаб у цьому приміщенні, залишили після себе розбиті вікна та вибиті
          двері. На відновлення 35 дверей ми вже витратили 25 тис. грн, які вдалося зібрати завдяки благодійним пожертвам,
          допомозі волонтерського центру «Печерськ» і благодійного фонду «Гуманітарні ініціативи». Разом з тим, ми зібрали
          кошти на ремонт зовнішніх стін та на заміну 27-ми вікон у садочку, які необхідні для повноцінного початку роботи
          садка. На це знадобилось 125 тис. 794,8 грн.</p>
        <div class="events__img-wrapper">
          <img class="events__img"
            srcset="./images/projects/img-projects-events-005@1x.webp 1x, ./images/projects/img-projects-events-005@2x.webp 2x"
            src="./images/projects/img-projects-events-005@1x.webp" alt="image candle" width="560" height="735"
            loading="lazy">
          <img class="events__img"
            srcset="./images/projects/img-projects-events-006@1x.webp 1x, ./images/projects/img-projects-events-006@2x.webp 2x"
            src="./images/projects/img-projects-events-006@1x.webp" alt="image candle" width="560" height="735"
            loading="lazy">
        </div>
      </li>
    
      <li class="events__list-item">
        <h3 class="events__list-title scroll__data-4">Відновлюємо середній заклад освіти школа-дитячий садок
          «Схід» у м. Києві</h3>
        <p class="events__list-text">(з липня 2022)</p>
        <p class="events__list-text events__text-italic">Середній заклад освіти школа-дитячий садок «Схід»
        </p>
        <p class="events__list-text"><span class="events__text-bold">Адреса:</span> вул. Верховинна, 91/93,
          Київ, 03179</p>
        <p class="events__list-text"><span class="events__text-bold">Коли:</span> липень-листопад 2022.
        </p>
        <p class="events__list-text"><span class="events__text-bold">Об’єм робіт:</span> заміна 13 вікон.
          Інклюзивний садочок «Схід» у Києві опікується дітьми з особливими потребами, розвиває їх та адаптує до соціального
          життя. В березні 2022 р. вибуховою хвилею в будівлі де розташований садочок вибило вікна. Інклюзивний центр
          закрився. Адаптація до соціального життя дітей з особливими потребами – це тонка робота, великі перерви в якій
          небажані, бо затримують досягнення необхідного рівня їх розвитку. Тож, відновити будівлю інклюзивного центру
          якнайшвидше є пріоритетним завданням, щоб малеча знову одержувала належний догляд та змогу для реабілітації та
          розвитку, які були перервані через повномасштабне вторгнення.</p>
        <p class="events__list-text"><span class="events__text-uppercase">Звітуємо</span>: роботи по
          встановленню вікон в інклюзивному садочку «Схід» в Києві завершені! Це було непросто, нешвидко, але завдяки Вашій
          підтримці в нас все вийшло! Тепер у дітей є три повноцінні теплі кімнати для їх занять та їдальня. Дякуємо всім
          небайдужім, всім, хто підтримав цю нашу ініціативу в непростий час! Змога об’єднатися навколо гуманітарного
          проекту
          під час війни, це наша риса, якою ми пишаємось! Ми Українці – неймовірні! Не зупиняємось!</p>
        <div class="events__img-wrapper">
          <img class="events__img"
            srcset="./images/projects/img-projects-events-007@1x.webp 1x, ./images/projects/img-projects-events-007@2x.webp 2x"
            src="./images/projects/img-projects-events-007@1x.webp" alt="image candle" width="560" height="735"
            loading="lazy">
          <img class="events__img"
            srcset="./images/projects/img-projects-events-008@1x.webp 1x, ./images/projects/img-projects-events-008@2x.webp 2x"
            src="./images/projects/img-projects-events-008@1x.webp" alt="image candle" width="560" height="735"
            loading="lazy">
        </div>
      </li>
    
    </ul>
  </div>
</section>