<section class="section">
  <div class="container">
    <h2 class="humanitarian__title"
    data-lang="lang__humanitarian-title">
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="humanitarian__list list">
      
      <li class="humanitarian__item animation__bottom">
        <div class="humanitarian__description-wrapper">
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-1-1">
          </p>
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-1-2">
          </p>
        </div>
        <div class="humanitarian__img-wrapper">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-001@1x.webp 1x, ./images/projects/img-projects-humanitarian-001@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-001@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-002@1x.webp 1x, ./images/projects/img-projects-humanitarian-002@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-002@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="humanitarian__item humanitarian__item-reverse animation__bottom">
        <div class="humanitarian__description-wrapper">
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-2-1">
          </p>
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-2-2">
          </p>
        </div>
        <div class="humanitarian__img-wrapper">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-003@1x.webp 1x, ./images/projects/img-projects-humanitarian-003@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-003@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-004@1x.webp 1x, ./images/projects/img-projects-humanitarian-004@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-004@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="humanitarian__item animation__bottom">
        <div class="humanitarian__description-wrapper">
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-3-1">
          </p>
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-3-2">
          </p>
        </div>
        <div class="humanitarian__img-wrapper">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-005@1x.webp 1x, ./images/projects/img-projects-humanitarian-005@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-005@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-006@1x.webp 1x, ./images/projects/img-projects-humanitarian-006@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-006@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="humanitarian__item humanitarian__item-reverse animation__bottom">
        <div class="humanitarian__description-wrapper">
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-4-1">
          </p>
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-4-2">
          </p>
        </div>
        <div class="humanitarian__img-wrapper">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-007@1x.webp 1x, ./images/projects/img-projects-humanitarian-007@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-007@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-008@1x.webp 1x, ./images/projects/img-projects-humanitarian-008@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-008@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>
    </ul>
  </div>
</section>