<section class="section">
  <div class="container">
    <h2 class="zsu__title"
    data-lang="lang__zsu-title">
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="zsu__list list">

      <li class="zsu__item animation__bottom">
        <h3 class="zsu__list-title text-bold text-uppercase"
        data-lang="lang__zsu-list-title-1">
        </h3>
        <div class="zsu__content-wrapper">
          <div class="zsu__description-wrapper">
            <p class="zsu__description-text"
            data-lang="lang__zsu-list-description-1">
            </p>
          </div>
          <div class="zsu__img-wrapper">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-001@1x.webp 1x, ./images/projects/img-projects-zsu-help-001@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-001@1x.webp" alt="image" width="200" height="200" loading="lazy">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-002@1x.webp 1x, ./images/projects/img-projects-zsu-help-002@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-002@1x.webp" alt="image" width="200" height="200" loading="lazy">
          </div>
        </div>
      </li>

      <li class="zsu__item animation__bottom">
        <h3 class="zsu__list-title text-bold text-uppercase"
        data-lang="lang__zsu-list-title-2">
        </h3>
        <div class="zsu__content-wrapper zsu__content-reverse">
          <div class="zsu__description-wrapper">
            <p class="zsu__description-text"
            data-lang="lang__zsu-list-description-2">
            </p>
          </div>
          <div class="zsu__img-wrapper">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-003@1x.webp 1x, ./images/projects/img-projects-zsu-help-003@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-003@1x.webp" alt="image" width="200" height="200" loading="lazy">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-004@1x.webp 1x, ./images/projects/img-projects-zsu-help-004@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-004@1x.webp" alt="image" width="200" height="200" loading="lazy">
          </div>
        </div>
      </li>

      <li class="zsu__item animation__bottom">
        <h3 class="zsu__list-title text-bold text-uppercase"
        data-lang="lang__zsu-list-title-3">
        </h3>
        <div class="zsu__content-wrapper">
          <div class="zsu__description-wrapper">
            <p class="zsu__description-text"
            data-lang="lang__zsu-list-description-3">
            </p>
          </div>
          <div class="zsu__img-wrapper">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-005@1x.webp 1x, ./images/projects/img-projects-zsu-help-005@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-005@1x.webp" alt="image" width="200" height="200" loading="lazy">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-006@1x.webp 1x, ./images/projects/img-projects-zsu-help-006@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-006@1x.webp" alt="image" width="200" height="200" loading="lazy">
          </div>
        </div>
      </li>

      <li class="zsu__item animation__bottom">
        <h3 class="zsu__list-title text-bold text-uppercase"
        data-lang="lang__zsu-list-title-4">
        </h3>
        <div class="zsu__content-wrapper zsu__content-reverse">
          <div class="zsu__description-wrapper">
            <p class="zsu__description-text"
            data-lang="lang__zsu-list-description-4">
            </p>
          </div>
          <div class="zsu__img-wrapper">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-007@1x.webp 1x, ./images/projects/img-projects-zsu-help-007@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-007@1x.webp" alt="image" width="200" height="200" loading="lazy">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-008@1x.webp 1x, ./images/projects/img-projects-zsu-help-008@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-008@1x.webp" alt="image" width="200" height="200" loading="lazy">
          </div>
        </div>
      </li>

      <li class="zsu__item animation__bottom">
        <h3 class="zsu__list-title text-bold text-uppercase"
        data-lang="lang__zsu-list-title-5">
        </h3>
        <div class="zsu__content-wrapper">
          <div class="zsu__description-wrapper">
            <p class="zsu__description-text"
            data-lang="lang__zsu-list-description-5">
            </p>
          </div>
          <div class="zsu__img-wrapper">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-009@1x.webp 1x, ./images/projects/img-projects-zsu-help-009@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-009@1x.webp" alt="image" width="200" height="200" loading="lazy">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-010@1x.webp 1x, ./images/projects/img-projects-zsu-help-010@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-010@1x.webp" alt="image" width="200" height="200" loading="lazy">
          </div>
        </div>
      </li>

      <li class="zsu__item animation__bottom">
        <h3 class="zsu__list-title text-bold text-uppercase"
        data-lang="lang__zsu-list-title-6">
        </h3>
        <div class="zsu__content-wrapper zsu__content-reverse">
          <div class="zsu__description-wrapper">
            <p class="zsu__description-text"
            data-lang="lang__zsu-list-description-6">
            </p>
          </div>
          <div class="zsu__img-wrapper">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-011@1x.webp 1x, ./images/projects/img-projects-zsu-help-011@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-011@1x.webp" alt="image" width="200" height="200" loading="lazy">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-012@1x.webp 1x, ./images/projects/img-projects-zsu-help-012@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-012@1x.webp" alt="image" width="200" height="200" loading="lazy">
          </div>
        </div>
      </li>

      <li class="zsu__item animation__bottom">
        <h3 class="zsu__list-title text-bold text-uppercase"
        data-lang="lang__zsu-list-title-7">
        </h3>
        <div class="zsu__content-wrapper">
          <div class="zsu__description-wrapper">
            <p class="zsu__description-text"
            data-lang="lang__zsu-list-description-7">
            </p>
          </div>
          <div class="zsu__img-wrapper">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-013@1x.webp 1x, ./images/projects/img-projects-zsu-help-013@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-013@1x.webp" alt="image" width="200" height="200" loading="lazy">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-014@1x.webp 1x, ./images/projects/img-projects-zsu-help-014@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-014@1x.webp" alt="image" width="200" height="200" loading="lazy">
          </div>
        </div>
      </li>

      <li class="zsu__item animation__bottom">
        <h3 class="zsu__list-title text-bold text-uppercase"
        data-lang="lang__zsu-list-title-8">
        </h3>
        <div class="zsu__content-wrapper zsu__content-reverse">
          <div class="zsu__description-wrapper">
            <p class="zsu__description-text"
            data-lang="lang__zsu-list-description-8">
            </p>
          </div>
          <div class="zsu__img-wrapper">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-015@1x.webp 1x, ./images/projects/img-projects-zsu-help-015@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-015@1x.webp" alt="image" width="200" height="200" loading="lazy">
            <img class="zsu__img"
              srcset="./images/projects/img-projects-zsu-help-016@1x.webp 1x, ./images/projects/img-projects-zsu-help-016@2x.webp 2x"
              src="./images/projects/img-projects-zsu-help-016@1x.webp" alt="image" width="200" height="200" loading="lazy">
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>