<section class="section">
  <div class="container">
    <h2 class="humanitarian__title"
    data-lang="lang__humanitarian-title">
    Гуманітарна допомога
  </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="humanitarian__list list">
      
      <li class="humanitarian__item animation__bottom">
        <div class="humanitarian__description-wrapper">
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-1">
            Допомагаємо відновлювати життя мешканцям деокупованих районів Чернігівщини та Харківщини. Передаємо проднабори, гігієну, одяг, будівельні матеріали та інструменти. Підтримуємо людей які, попри всі складнощі сьогодення, відновлюють свої домівки та продовжують жити на своїй рідній землі.
          </p>
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-2">
            В підтримці один одного наша сила! Не зупиняємось!
          </p>
        </div>
        <div class="humanitarian__img-wrapper">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-001@1x.webp 1x, ./images/projects/img-projects-humanitarian-001@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-001@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-002@1x.webp 1x, ./images/projects/img-projects-humanitarian-002@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-002@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="humanitarian__item humanitarian__item-reverse animation__bottom">
        <div class="humanitarian__description-wrapper">
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-3">
            Завезли гуманітарну допомогу до Білоцерківського неврологічного інтернату. Передали: ковдри, пледи, постільну білизну, подушки, дитячі пюре, сухі дитячі каші, памперси, пелюшки для дорослих, гелі для душу, шампуні, зубні пасти та щітки, мочалки для душу, вологі серветки, мило, креми для рук, маски одноразові, антисептики.
          </p>
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-4">
            Закупили та відправити таке надважливе на сьогодні джерело безперебійного живлення (ДБЖ Stark Pro 3/1-10), а також надпотужний генератор Hyundai HY 13000LE до ДУ "Національний Інститут терапії імені Л.Т. Малої НАМН України" у Харкові.
          </p>
        </div>
        <div class="humanitarian__img-wrapper">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-003@1x.webp 1x, ./images/projects/img-projects-humanitarian-003@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-003@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-004@1x.webp 1x, ./images/projects/img-projects-humanitarian-004@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-004@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="humanitarian__item animation__bottom">
        <div class="humanitarian__description-wrapper">
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-5">
            Ольга Гришнюк не втомлюється опікуватись дітками з особливими потребами, надаючи їм таку необхідну допомогу мед. препаратами та спец. харчуванням.
          </p>
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-6">
            Ми приєднались до цієї справи: передаємо для них медикаменти, які вони вимушені приймати щодня, дитяче харчування та засоби гігієни.
          </p>
        </div>
        <div class="humanitarian__img-wrapper">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-005@1x.webp 1x, ./images/projects/img-projects-humanitarian-005@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-005@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-006@1x.webp 1x, ./images/projects/img-projects-humanitarian-006@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-006@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="humanitarian__item humanitarian__item-reverse animation__bottom">
        <div class="humanitarian__description-wrapper">
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-7">
            Допомагаємо дітям адаптуватись до життя в умовах війни. Проводимо майстер-класи з випікання смаколиків для діток-біженців в Києві. Влаштовуємо свято Миколая для школярів у Борівському академічному ліцеї Фастівського району Київщини. Допомагаємо дітям в сім’ях переселенців з книжками, одягом та іграшками.
          </p>
          <p class="humanitarian__description" 
          data-lang="lang__humanitarian-description-8">
            Нести добро та світ дітям, попри війну та втрати, це місія дорослих!
          </p>
        </div>
        <div class="humanitarian__img-wrapper">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-007@1x.webp 1x, ./images/projects/img-projects-humanitarian-007@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-007@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="humanitarian__img"
            srcset="./images/projects/img-projects-humanitarian-008@1x.webp 1x, ./images/projects/img-projects-humanitarian-008@2x.webp 2x"
            src="./images/projects/img-projects-humanitarian-008@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>
    </ul>
  </div>
</section>