<section class="section">
  <div class="container">
    <h2 class="events__title" 
    data-lang="lang__events-title">
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="events__list list">

      <li class="events__list-item animation__bottom">
        <h3 class="events__list-title text-uppercase" 
        data-lang="lang__events-list-title-1">
        </h3>
        <div class="events__content-wrapper">
          <div class="events__description-wrapper">
            <p class="events__description" 
            data-lang="lang__events-list-description-1-1">
            </p>
            <p class="events__description" 
            data-lang="lang__events-list-description-1-2">
            </p>
          </div>
          <div class="events__img-wrapper">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-013@1x.webp 1x, ./images/projects/img-projects-events-013@2x.webp 2x"
              src="./images/projects/img-projects-events-013@1x.webp" alt="image" width="200" height="150" loading="lazy">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-014@1x.webp 1x, ./images/projects/img-projects-events-014@2x.webp 2x"
              src="./images/projects/img-projects-events-014@1x.webp" alt="image" width="200" height="280" loading="lazy">
          </div>
        </div>
      </li>
    
      <li class="events__list-item animation__bottom">
        <h3 class="events__list-title text-uppercase" data-lang="lang__events-list-title-2">
        </h3>
        <div class="events__secondary-content-wrapper">
          <img class="events__img-wide"
            srcset="./images/projects/img-projects-events-011@1x.webp 1x, ./images/projects/img-projects-events-011@2x.webp 2x"
            src="./images/projects/img-projects-events-011@1x.webp" alt="image" width="300" height="100" loading="lazy">
          <div class="events__secondary-description-img-wrapper">
            <div class="events__secondary-description-wrapper">
              <p class="events__description"
              data-lang="lang__events-list-description-2-1">
              </p>
              <p class="events__description" 
              data-lang="lang__events-list-description-2-2">
              </p>
            </div>
            <img class="events__img-secondary"
              srcset="./images/projects/img-projects-events-012@1x.webp 1x, ./images/projects/img-projects-events-012@2x.webp 2x"
              src="./images/projects/img-projects-events-012@1x.webp" alt="image" width="200" height="150" loading="lazy">
          </div>
        </div>
      </li>

      <li class="events__list-item animation__bottom">
        <h3 class="events__list-title text-uppercase" 
        data-lang="lang__events-list-title-3">
        </h3>
        <div class="events__content-wrapper">
          <div class="events__description-wrapper">
            <p class="events__description" 
            data-lang="lang__events-list-description-3-1">
            </p>
            <p class="events__description" 
            data-lang="lang__events-list-description-3-2">
            </p>
            <p class="events__description" 
            data-lang="lang__events-list-description-3-3">
            </p>
          </div>
          <div class="events__img-wrapper">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-009@1x.webp 1x, ./images/projects/img-projects-events-009@2x.webp 2x"
              src="./images/projects/img-projects-events-009@1x.webp" alt="image" width="200" height="150" loading="lazy">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-010@1x.webp 1x, ./images/projects/img-projects-events-010@2x.webp 2x"
              src="./images/projects/img-projects-events-010@1x.webp" alt="image" width="200" height="280" loading="lazy">
          </div>
        </div>
      </li>

      <li class="events__list-item animation__bottom">
        <h3 class="events__list-title" 
        data-lang="lang__events-list-title-4">
        </h3>
        <div class="events__secondary-content-wrapper">
          <img class="events__img-wide"
            srcset="./images/projects/img-projects-events-007@1x.webp 1x, ./images/projects/img-projects-events-007@2x.webp 2x"
            src="./images/projects/img-projects-events-007@1x.webp" alt="image" width="300" height="100" loading="lazy">
          <div class="events__secondary-description-img-wrapper">
            <div class="events__secondary-description-wrapper">
              <p class="events__description" 
              data-lang="lang__events-list-description-4-1">
              </p>
              <p class="events__description" 
              data-lang="lang__events-list-description-4-2">
              </p>
              <ul class="events__sub-list">
                <li class="events__sub-list-item">
                  <p class="events__description" 
                  data-lang="lang__events-list-description-4-3">
                  </p>
                </li>
                <li class="events__sub-list-item">
                  <p class="events__description" 
                  data-lang="lang__events-list-description-4-4">
                  </p>
                </li>
              </ul>
            </div>
            <img class="events__img-secondary"
              srcset="./images/projects/img-projects-events-008@1x.webp 1x, ./images/projects/img-projects-events-008@2x.webp 2x"
              src="./images/projects/img-projects-events-008@1x.webp" alt="image" width="200" height="150" loading="lazy">
          </div>
        </div>
      </li>

      <li class="events__list-item animation__bottom">
        <h3 class="events__list-title" 
        data-lang="lang__events-list-title-5">
        </h3>
        <div class="events__content-wrapper">
          <div class="events__description-wrapper">
            <p class="events__description" 
            data-lang="lang__events-list-description-5-1">
            </p>
            <p class="events__description" 
            data-lang="lang__events-list-description-5-2">
            <span class="text-uppercase">
            <p class="events__description" 
            data-lang="lang__events-list-description-5-3">
            </p>
            </p>
            <ul class="events__sub-list">
              <li class="events__sub-list-item">
                <p class="events__description" 
                data-lang="lang__events-list-description-5-4">
                </p>
              </li>
              <li class="events__sub-list-item">
                <p class="events__description" 
                data-lang="lang__events-list-description-5-5">
                </p>
              </li>
            </ul>
          </div>
          <div class="events__img-wrapper">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-005@1x.webp 1x, ./images/projects/img-projects-events-005@2x.webp 2x"
              src="./images/projects/img-projects-events-005@1x.webp" alt="image" width="200" height="150" loading="lazy">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-006@1x.webp 1x, ./images/projects/img-projects-events-006@2x.webp 2x"
              src="./images/projects/img-projects-events-006@1x.webp" alt="image" width="200" height="280" loading="lazy">
          </div>
        </div>
      </li>

      <li class="events__list-item animation__bottom">
        <h3 class="events__list-title" 
        data-lang="lang__events-list-title-6">
        </h3>
        <div class="events__secondary-content-wrapper">
          <img class="events__img-wide"
            srcset="./images/projects/img-projects-events-003@1x.webp 1x, ./images/projects/img-projects-events-003@2x.webp 2x"
            src="./images/projects/img-projects-events-003@1x.webp" alt="image" width="300" height="100" loading="lazy">
          <div class="events__secondary-description-img-wrapper">
            <div class="events__secondary-description-wrapper">
              <p class="events__description" 
              data-lang="lang__events-list-description-6-1">
              </p>
              <p class="events__description" 
              data-lang="lang__events-list-description-6-2">
              </p>
              <ul class="events__sub-list">
                <li class="events__sub-list-item">
                  <p class="events__description" 
                  data-lang="lang__events-list-description-6-3">
                  </p>
                </li>
                <li class="events__sub-list-item">
                  <p class="events__description" 
                  data-lang="lang__events-list-description-6-4">
                  </p>
                </li>
              </ul>
            </div>
            <img class="events__img-secondary"
              srcset="./images/projects/img-projects-events-004@1x.webp 1x, ./images/projects/img-projects-events-004@2x.webp 2x"
              src="./images/projects/img-projects-events-004@1x.webp" alt="image" width="200" height="150" loading="lazy">
          </div>
        </div>
      </li>

      <li class="events__list-item animation__bottom">
        <h3 class="events__list-title" 
        data-lang="lang__events-list-title-7">
        </h3>
        <div class="events__content-wrapper">
          <div class="events__description-wrapper">
            <p class="events__description" 
            data-lang="lang__events-list-description-7-1">
            </p>
            <p class="events__description" 
            data-lang="lang__events-list-description-7-2">
            </p>
            <ul class="events__sub-list">
              <li class="events__sub-list-item">
                <p class="events__description" 
                data-lang="lang__events-list-description-7-3">
                </p>
              </li>
              <li class="events__sub-list-item">
                <p class="events__description" 
                data-lang="lang__events-list-description-7-4">
                </p>
              </li>
            </ul>
          </div>
          <div class="events__img-wrapper">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-001@1x.webp 1x, ./images/projects/img-projects-events-001@2x.webp 2x"
              src="./images/projects/img-projects-events-001@1x.webp" alt="image" width="200" height="150" loading="lazy">
            <img class="events__img"
              srcset="./images/projects/img-projects-events-002@1x.webp 1x, ./images/projects/img-projects-events-002@2x.webp 2x"
              src="./images/projects/img-projects-events-002@1x.webp" alt="image" width="200" height="280" loading="lazy">
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>