<section class="section">
  <div class="container">
    <h2 class="nets__title"
    data-lang="lang__nets-title">
    </h2>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="nets__list list">

      <li class="nets__item nets__item-reverse animation__bottom">
        <div class="nets__description-wrapper">
          <p class="nets__description"
          data-lang="lang__nets-description-1">
          </p>
          <p class="nets__description"
          data-lang="lang__nets-description-2">
          </p>
        </div>
        <div class="nets__img-wrapper">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-001@1x.webp 1x, ./images/projects/img-projects-nets-001@2x.webp 2x"
            src="./images/projects/img-projects-nets-001@1x.webp" alt="image" width="200" height="250" loading="lazy">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-002@1x.webp 1x, ./images/projects/img-projects-nets-002@2x.webp 2x"
            src="./images/projects/img-projects-nets-002@1x.webp" alt="image" width="200" height="250" loading="lazy">
        </div>
      </li>

      <li class="nets__item animation__bottom">
        <div class="nets__description-wrapper">
          <p class="nets__description"
          data-lang="lang__nets-description-3">
          </p>
          <p class="nets__description"
          data-lang="lang__nets-description-4">
          </p>
        </div>
        <div class="nets__img-wrapper">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-003@1x.webp 1x, ./images/projects/img-projects-nets-003@2x.webp 2x"
            src="./images/projects/img-projects-nets-003@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-004@1x.webp 1x, ./images/projects/img-projects-nets-004@2x.webp 2x"
            src="./images/projects/img-projects-nets-004@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="nets__item nets__item-reverse animation__bottom">
        <div class="nets__description-wrapper">
          <p class="nets__description"
          data-lang="lang__nets-description-5">
          </p>
          <p class="nets__description"
          data-lang="lang__nets-description-6">
          </p>
        </div>
        <div class="nets__img-wrapper">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-005@1x.webp 1x, ./images/projects/img-projects-nets-005@2x.webp 2x"
            src="./images/projects/img-projects-nets-005@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-006@1x.webp 1x, ./images/projects/img-projects-nets-006@2x.webp 2x"
            src="./images/projects/img-projects-nets-006@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="nets__item animation__bottom">
        <div class="nets__description-wrapper">
          <p class="nets__description"
          data-lang="lang__nets-description-7">
          </p>
          <p class="nets__description"
          data-lang="lang__nets-description-8">
          </p>
        </div>
        <div class="nets__img-wrapper">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-007@1x.webp 1x, ./images/projects/img-projects-nets-007@2x.webp 2x"
            src="./images/projects/img-projects-nets-007@1x.webp" alt="image" width="200" height="250" loading="lazy">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-008@1x.webp 1x, ./images/projects/img-projects-nets-008@2x.webp 2x"
            src="./images/projects/img-projects-nets-008@1x.webp" alt="image" width="200" height="250" loading="lazy">
        </div>
      </li>

      <li class="nets__item nets__item-reverse animation__bottom">
        <div class="nets__description-wrapper">
          <p class="nets__description"
          data-lang="lang__nets-description-9">
          </p>
          <p class="nets__description"
          data-lang="lang__nets-description-10">
          </p>
        </div>
        <div class="nets__img-wrapper">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-009@1x.webp 1x, ./images/projects/img-projects-nets-009@2x.webp 2x"
            src="./images/projects/img-projects-nets-009@1x.webp" alt="image" width="200" height="150" loading="lazy">
          <img class="nets__img"
            srcset="./images/projects/img-projects-nets-010@1x.webp 1x, ./images/projects/img-projects-nets-010@2x.webp 2x"
            src="./images/projects/img-projects-nets-010@1x.webp" alt="image" width="200" height="150" loading="lazy">
        </div>
      </li>

      <li class="nets__item animation__bottom">
        <div class="nets__presentation">
          <p class="nets__presentation-description"
          data-lang="lang__nets-presentation-1">
          </p>
          <a class="nets__presentation-link link"
            href="https://drive.google.com/file/d/1HEAhLgZfnQKuky8DnARuUJ4PDsGmrdcc/view?usp=drivesdk" target="_blank"
            rel="noreferrer noopener" aria-label="statut"
            data-lang="lang__nets-presentation-2">
          </a>
        </div>
      </li>

    </ul>
  </div>
</section>