<section class="section">
  <div class="container">
    <ul class="reconstruction__list-btn list">
      <li class="reconstruction__list-btn-item">
        <a href="#reconstruction-scroll-001" class="reconstruction__btn link animation__bottom">
          <h3 class="reconstruction__btn-title">
            Інклюзивно-ресурсний центр
          </h3>
          <p class="reconstruction__btn-city">
            смт Бородянка
          </p>
        </a>
      </li>
      <li class="reconstruction__list-btn-item">
        <a href="#reconstruction-scroll-002" class="reconstruction__btn link animation__bottom">
          <h3 class="reconstruction__btn-title">
            Паспортний стіл
          </h3>
          <p class="reconstruction__btn-city">
            смт Бородянка
          </p>
        </a>
      </li>
      <li class="reconstruction__list-btn-item">
        <a href="#reconstruction-scroll-003" class="reconstruction__btn link animation__bottom">
          <h3 class="reconstruction__btn-title">
            Дитячий садок "Казка"
          </h3>
          <p class="reconstruction__btn-city">
            смт Бородянка
          </p>
        </a>
      </li>
      <li class="reconstruction__list-btn-item">
        <a href="#reconstruction-scroll-004" class="reconstruction__btn link animation__bottom">
          <h3 class="reconstruction__btn-title">
            Школа-дитячий садок "Схід"
          </h3>
          <p class="reconstruction__btn-city">
            м. Київ
          </p>
        </a>
      </li>
    </ul>
  </div>
</section>