<section class="section">
  <div class="container">
    <h2 class="candle__title">Сили спеціальних свічкових операцій</h2>
  </div>
</section>

<section class="section section-gorizont-line">
  <div class="container">

    <p class="candle__text">В нашому фонді в січні 2023 р. утворилися <span class="text-uppercase">сили спеціальних свічкових операцій</span> – справжній спецназ з питань окопних
    свічок.</p>

    <div class="candle__img-wrapper">
      <img class="candle__img"
        srcset="./images/projects/img-projects-candle-001@1x.webp 1x, ./images/projects/img-projects-candle-001@2x.webp 2x"
        src="./images/projects/img-projects-candle-001@1x.webp" alt="image candle" width="560" height="560" loading="lazy">
      <img class="candle__img"
        srcset="./images/projects/img-projects-candle-002@1x.webp 1x, ./images/projects/img-projects-candle-002@2x.webp 2x"
        src="./images/projects/img-projects-candle-002@1x.webp" alt="image candle" width="560" height="560" loading="lazy">
    </div>

    <p class="candle__text">Дівчата і хлопці завзято крутять і заливають свічки. За зиму вони накрутили 12701 штук окопних свічок, які обігрівають
    наших захисників на всіх напрямках фронту.</p>

  </div>
</section>