// --- Socials ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.footer__socials {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  padding-bottom: 20px;
}

// .footer__socials-item {
// }

.footer__socials-title {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(26 / 18);
  text-align: center;
  
  margin-bottom: 20px;

  color: var(--text-color-primary);
}

.footer__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(240, 240, 191);
  transition: var(--animation-base);

  &:hover .footer__socials-icon,
    &:focus .footer__socials-icon {
      fill: var(--footer-socials-icon-fill-accent);
    }
}

.footer__socials-icon {
  width: 40px;
  height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: var(--footer-socials-icon-fill);
}
