// --- FOOTER Socials ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.footer__socials-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  
  // outline: 2px solid rgb(129, 58, 228);
  // outline-offset: -2px;

  @media screen and (min-width: 768px) {
    gap: 70px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((1168 - 40) / 3);
    justify-content: end;
  }
}

.footer__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--footer-socials-icon-bcg-color);

  &:hover,
  &:focus {
    background-color: var(--footer-background-color);
    border: 2px solid var(--footer-color-accent);
    transition: var(--animation-base);
  }

  &:hover .footer__socials-icon,
  &:focus .footer__socials-icon {
    fill: var(--footer-color-accent);
    transition: var(--animation-base);
  }

}

.footer__socials-icon {
  width: 40px;
  height: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: var(--footer-socials-icon-fill);
}