// --- Footer ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;

  background-color: rgb(20, 38, 60);

  // outline: 2px solid rgb(80, 206, 66);
  // outline-offset: -2px;

  @media screen and (min-width: 768px) {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  
  // outline: 2px solid rgb(19, 77, 12);
  // outline-offset: -2px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  // outline: 2px solid rgb(57, 70, 191);
  // outline-offset: -2px;

  @media screen and (min-width: 768px) {
    gap: 45px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    width: 100%;
  }
}
