// --- Header ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--header-background-color);
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 70px;
}

.header__logo {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 5;
  border-radius: 50%;
  transition: var(--animation-base);

  &:hover,
  &:focus {
    box-shadow: var(--header-logo-color-shadow) 0px 8px 24px;
  }

  // @media screen and (min-width: 768px) {}
  // @media screen and (min-width: 1200px) {}
}