.header {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: var(--header-background-color);

  // outline: 2px solid rgb(80, 206, 66);
  // outline-offset: -2px;

  // @media screen and (min-width: 768px) {
  //   padding-top: 20px;
  //   padding-bottom: 20px;
  // }

  // @media screen and (min-width: 1200px) {
  //   padding-top: 30px;
  //   padding-bottom: 30px;
  // }
}

.header__container {
  // outline: 2px solid rgb(80, 206, 66);
  // outline-offset: -2px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  

  // padding-top: 60px;

  // color: var(--text-header-text-color);

  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }

  // @media screen and (min-width: 768px) {
  //   display: block;
  //   padding-right: 100px;
  //   gap: 40px;
  //   width: 768px;
  // }

  // @media screen and (min-width: 1200px) {
  //   padding-right: 160px;
  //   gap: 140px;
  //   width: 1200px;
  // }
}

.header__nav {
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
}

.header__nav-list {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.header__nav-item {
  font-family: 'Montserrat', 'Roboto', Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  // text-transform: uppercase;
  border: 0;

  color: var(--header-nav-color);

  &:hover,
  &:focus {
    color: var(--header-nav-color-accent);
    transition: color 250ms;
  }
}

.header__nav-link {
  position: relative;

  // !----
  background-color: bisque;
  // !----
}

.header__nav-link:hover:before {
  transform: scaleX(1);
  transition: transform 250ms;
}

.header__nav-link::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--header-nav-color-accent);
  position: absolute;
  left: 0;
  bottom: -5px;

  transform: scaleX(0);
}