// --- HERO ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.hero__section {
  margin-top: 60px;

	padding-top: 50px;
	padding-bottom: 450px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	background-image: url(../images/hero/img-hero-mobile@1x.webp);

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: url(../images/hero/img-hero-mobile@2x.webp);
	}

	@media screen and (min-width: 480px) {
    padding-top: 50px;
    padding-bottom: 500px;

		background-image: url(../images/hero/img-hero-tablet@1x.webp);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/img-hero-tablet@2x.webp);
		}
	}

	@media screen and (min-width: 768px) {
    padding-top: 150px;
    padding-bottom: 250px;

    background-image: url(../images/hero/img-hero-desktop@1x.webp);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/hero/img-hero-desktop@2x.webp);
		}
	}

	@media screen and (min-width: 1200px) {
		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.hero__title {
  font-family: 'Montserrat', 'Roboto', Verdana, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: calc(26 / 16);
  text-transform: uppercase;
  letter-spacing: 0.1em;

  padding: 10px;

  color: var(--text-color-primary);
  
  max-width: 300px;

  @media screen and (min-width: 480px) {
    font-size: 22px;
    letter-spacing: 0.1em;

    max-width: 360px;
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    font-size: 30px;
    letter-spacing: 0.2em;

    max-width: 560px;
    padding: 15px;
  }
  
  @media screen and (min-width: 1200px) {
    font-size: 40px;

    max-width: 800px;
    padding: 25px;
  }
}

.hero__title-accent {
  color: var(--text-color-accent);
}