.icons__main-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 15px;
}

.icons__main-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    max-width: 110px;

    &:hover .icons__main-title,
    &:focus .icons__main-title {
    color: var(--text-color-accent);
    }
}

.icons__main-title {
    font-family: 'Montserrat', Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(26 / 18);

    text-align: center;
    margin-bottom: 8px;

    width: 100%;

    color: var(--text-color-primary);

    transition: var(--animation-base);

//   @media screen and (min-width: 768px) {
//     font-size: 16px;
//   }
  // @media screen and (min-width: 1200px) {}
}