// --- page Reconstruction "buttons" style ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.reconstruction__list-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  @media screen and (min-width: 1200px) {
    gap: 10px;
  }
}

// .reconstruction__list-btn-item {}

.reconstruction__btn {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 260px;
  padding: 10px 15px;

  border: 0.5px solid rgb(213, 167, 167);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.427) 0px 4px 18px;
  
  background-color: rgba(10, 64, 10, 0.675);
  transition: var(--animation-base);

  &:hover,
  &:focus {
    background-color: rgba(12, 77, 12, 0.675);
    box-shadow: rgba(82, 92, 102, 0.502) 0px 4px 18px;
  }

  @media screen and (min-width: 768px) {
    width: 300px;
    padding: 15px 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}

.reconstruction__btn-title {
  font-family: 'Montserrat', 'Roboto', Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.01em;

  color: var(--text-color-primary);

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.reconstruction__btn-city {
  font-family: 'Montserrat', 'Roboto', Verdana, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(16 / 12);
  letter-spacing: 0.01em;
  
  color: var(--text-color-primary);

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}