// --- page "ZSU help" style ---
// @media screen and (min-width: 768px) {}
// @media screen and (min-width: 1200px) {}

.zsu__title {
  font-family: 'Montserrat', Verdana, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(16 / 12);
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  
  padding-top: 70px;
  
  color: var(--text-color-accent);

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.zsu__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (min-width: 768px) {
    gap: 35px;
  }
  
  @media screen and (min-width: 1200px) {
    gap: 40px;
  }
}

.zsu__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zsu__list-title,
.zsu__description-text {
  font-family: 'Montserrat', 'Roboto', Verdana, sans-serif;
  line-height: calc(18 / 14);
  letter-spacing: 0.05em;
}

.zsu__list-title {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  color: var(--text-color-accent);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(16 / 12);
  }

  @media screen and (min-width: 1200px) {
    font-size: 22px;
    ine-height: calc(20 / 16);
  }
}

.zsu__description-wrapper {
  @media screen and (min-width: 1200px) {
    width: 800px;
  }
}

.zsu__description-text {
  font-size: 14px;
  font-weight: 400;
  // text-align: justify;
  color: var(--text-color-primary);

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(16 / 12);
  }

  // @media screen and (min-width: 1200px) {}
}

.zsu__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;

  border: 2px solid var(--text-color-accent);
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.427) 0px 4px 18px;

  @media screen and (min-width: 768px) {
    padding: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 25px;
    align-items: center;
    padding: 20px;
  }
}

.zsu__content-reverse {
  @media screen and (min-width: 1200px) {
    flex-direction: row-reverse;
  }
}

.zsu__img-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    gap: 15px;
  }

  // @media screen and (min-width: 1200px) {}
}

.zsu__img {
  min-width: 100px;
  margin-right: auto;
  margin-left: auto;

  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.427) 0px 4px 18px;

  @media screen and (min-width: 768px) {
    min-width: 310px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 365px;
  }
}